[2017-07-29 16:49] pjbull opened #1 "Feature: Implement identification algorithm"
## Overview
We need to adapt the Data Science Bowl algorithms to produce possible centroid locations for nodules within an image rather than just `P(cancer)` for the whole image.

## Expected Behavior
Currently, there is a just a placeholder in the algorithm that identifies nodules in scans. Nodules are areas of interest that might be cancerous (or might not be, the goal here is just the potential

[2017-08-01 12:08] reubano opened #2 "Feature: Implement classification algorithm"
## Overview

Currently, there is a just a placeholder in the algorithm that classifies nodules in scans. Nodules are areas of interest that might be cancerous. We need to adapt the Data Science Bowl algorithms to predict `P(cancer)` for a given set of centroids for nodules.

## Expected Behavior

Given a model trained to perform this task, a DICOM image, and the nodule centroids, return the `P(can

[2017-08-01 12:21] reubano opened #3 "Feature: Implement segmentation algorithm"
## Overview

Currently, there is a just a placeholder in the algorithm that segments nodules in scans. Nodules are areas of interest that might be cancerous. We need to adapt the Data Science Bowl algorithms to predict nodule boundaries and descriptive statistics from an iterator of nodule centroids for an image.

## Expected Behavior

Given a model trained to perform this task, a DICOM image, and

[2017-08-01 22:23] reubano opened #4 "Feature: Adapt the grt123 model"
## Overview

Currently, there is a just a placeholder in the algorithm that classifies nodules in scans. Nodules are areas of interest that might be cancerous. We need to adapt the Data Science Bowl (DSB) algorithms to predict `P(cancer)` given an iterator of nodule centroids for an image.

The top DSB algorithm (grt123) was written to run on a GPU for Python2. It would be nice to integrate this a

[2017-08-01 22:58] reubano opened #5 "Removed"

[2017-08-02 10:17] #5 closed

[2017-08-02 11:29] isms opened #6 "Set up a basic npm vue/webpack setup"
## Overview
We want to be able to use `.vue` files, ES6, and so forth.

## Expected Behavior
As a first pass, [NdagiStanley/vue-django](https://github.com/NdagiStanley/vue-django) has a lot of what we want. At a minimum, we want to be able to build [.vue files](https://vuejs.org/v2/guide/single-file-components.html) so that we can use :sparkles: ES6 :sparkles and have our project JS compiled, incl

[2017-08-02 15:24] lamby opened #7 "Fix failing static.SmokeTest.test_landing test"
## Overview

The tests are currently failing on the ``master`` branch.

## Expected Behavior

We should endeavour to keep the testsuite passing at all times.

## Technical details

[code]

## Acceptance criteria

The testsuite passes.

[2017-08-02 22:47] isms opened #8 "Set up Sphinx autodoc for prediction and interface code"
## Overview
When docs are built (e.g. with `make html` run from `docs` directory), the prediction and interface projects should have their docstrings converted to entries in the documentation.

## Technical details
- Add one `code.rst` document that has its contents derived automatically from docstrings — don't worry about breaking this up into smaller files yet
- Add the new document to the main

[2017-08-04 02:41] isms opened #9 "Layout base Django template to match wireframes"
## Overview
Even though the backend pieces have yet to be written, it will be helpful to get a mocked out frontend version quickly. Small issues exist for many of the individual UI pieces, but first the overall layout has to be created.

We want [DRY](http://wiki.c2.com/?DontRepeatYourself) templates, so we need a base template that gives the rough Bootstrap layout (e.g. navbar, breadcrumbs, main

[2017-08-04 05:25] pjbull opened #10 "Self-document the prediction API endpoint"
## Overview
A useful API will tell you how to use it. Update the API endpoints to be more helpful!

## Expected Behavior
Currently, there is just a placeholder if you `GET` our prediction API endpoints. We expect this call to tell us what the endpoint does, what the required parameters are, and what it returns.

To do this, we'll need to update our response payload to have that information.

## Te

[2017-08-04 05:34] pjbull opened #11 "Update error handling in the prediction API"
## Overview
We need to adapt the Data Science Bowl algorithms to produce possible centroid locations for nodules within an image rather than just `P(cancer)` for the whole image.

## Expected Behavior
Currently, we just catch all exceptions and ignore them. We want to return as part of the json payload some useful information about what went wrong. For example, if the request didn't have the right

[2017-08-04 06:14] pjbull opened #12 "Add function that loads DICOM images"
## Overview
All of our models need to take a path to a DICOM image (which is actually a directory of images and XML files) and then load that image into memory.

## Expected Behavior
The function should take a path to a DICOM directory and load the data from that directory into a format that will be useful to the models. It will then provide  For example [DICOM-numpy](https://github.com/innolitics

[2017-08-04 06:38] pjbull opened #13 "Calculate tumor volume from pixel masks"
## Overview
We want to provide clinicians with summary statistics about identified tumors. In the `segment` model, we output per-pixel binary masks that identify which pixels are likely to be cancer. From these masks, we want to calculate the volume of the tumor.

## Expected Behavior
Take as an input the path to the serialized masks (which is the output of the segment `predict` method). We also h

[2017-08-04 06:50] pjbull opened #14 "Pass calculated summary statistics from segment model to API"
## Overview
Once we produce summary statistics for tumors, those need to be returned to the frontend through the API.

## Expected Behavior
Currently, the `segment` endpoint only returns a path to a file which has a binary mask of the DICOM image. This is useful for displaying the nodules, but we also want to report summary statistics. This issue tracks taking both the summary statistic calculatio

[2017-08-04 07:05] pjbull opened #15 "Add links to the project structure documentation"
## Overview
The [project structure](https://concept-to-clinic.readthedocs.io/en/latest/project-structure.html) documentation is a useful first step, but could get much better. The first way to do that is to turn the references to the technologies into useful links to those technologies.

Current page: https://concept-to-clinic.readthedocs.io/en/latest/project-structure.html

## Expected Behavior
T

[2017-08-04 07:25] pjbull opened #16 "Document git-lfs use for this project"
## Overview
There are a handful of large data sources for this project. We want to use `git-lfs` to manage those large files so they are not all in the repository. We need the documentation so that all the contributors understand how to use `git-lfs`.

## Expected Behavior
At least the model asset folders (e.g., [`prediction/src/algorithms/classify/assets`](https://github.com/concept-to-clinic/con

[2017-08-04 07:30] pjbull opened #17 "Use git-lfs for test images"
## Overview
Currently test images are stored in the git repository. These files won't change much so we should try to save bandwidth and separate concerns by tracking them with `git-lfs` instead.

## Expected Behavior
DICOM images in `tests/assets` are managed with `git-lfs`

## Acceptance criteria
 - [ ] test images are managed by `git-lfs`
 - [ ] large image files are removed from the repository

[2017-08-04 12:55] reubano opened #18 "Document the grt123 algorithm"
## Overview

Participants in the [Data Science Bowl](https://www.kaggle.com/c/data-science-bowl-2017) produced several algorithms that we would like to incorporate. To help facilitate this effort, we also want to add documentation so that contributors can make an educated decision when selecting an algorithm to incorporate.

## Expected Behavior

This documentation should enable people to:
 - view

[2017-08-04 13:00] reubano opened #19 "Document the Daniel Hammack algorithm"
## Overview

Participants in the [Data Science Bowl](https://www.kaggle.com/c/data-science-bowl-2017) produced several algorithms that we would like to incorporate. To help facilitate this effort, we also want to add documentation so that contributors can make an educated decision when selecting an algorithm to incorporate.

## Expected Behavior

This documentation should enable people to:
 - view

[2017-08-04 13:05] reubano opened #20 "Document the Julian de Wit algorithm"
## Overview

Participants in the [Data Science Bowl](https://www.kaggle.com/c/data-science-bowl-2017) produced several algorithms that we would like to incorporate. To help facilitate this effort, we also want to add documentation so that contributors can make an educated decision when selecting an algorithm to incorporate.

## Expected Behavior

This documentation should enable people to:
 - view

[2017-08-04 13:06] reubano opened #21 "Document the Aidence algorithm"
## Overview

Participants in the [Data Science Bowl](https://www.kaggle.com/c/data-science-bowl-2017) produced several algorithms that we would like to incorporate. To help facilitate this effort, we also want to add documentation so that contributors can make an educated decision when selecting an algorithm to incorporate.

## Expected Behavior

This documentation should enable people to:
 - view

[2017-08-04 13:06] reubano opened #22 "Document the qfpxfd algorithm"
## Overview

Participants in the [Data Science Bowl](https://www.kaggle.com/c/data-science-bowl-2017) produced several algorithms that we would like to incorporate. To help facilitate this effort, we also want to add documentation so that contributors can make an educated decision when selecting an algorithm to incorporate.

## Expected Behavior

This documentation should enable people to:
 - view

[2017-08-04 13:07] reubano opened #23 "Document the Pierre Fillard (Therapixel) algorithm"
## Overview

Participants in the [Data Science Bowl](https://www.kaggle.com/c/data-science-bowl-2017) produced several algorithms that we would like to incorporate. To help facilitate this effort, we also want to add documentation so that contributors can make an educated decision when selecting an algorithm to incorporate.

## Expected Behavior

This documentation should enable people to:
 - view

[2017-08-04 13:08] reubano opened #24 "Document the MDai algorithm"
## Overview

Participants in the [Data Science Bowl](https://www.kaggle.com/c/data-science-bowl-2017) produced several algorithms that we would like to incorporate. To help facilitate this effort, we also want to add documentation so that contributors can make an educated decision when selecting an algorithm to incorporate.

## Expected Behavior

This documentation should enable people to:
 - view

[2017-08-04 13:08] reubano opened #25 "Document the DL Munich algorithm"
## Overview

Participants in the [Data Science Bowl](https://www.kaggle.com/c/data-science-bowl-2017) produced several algorithms that we would like to incorporate. To help facilitate this effort, we also want to add documentation so that contributors can make an educated decision when selecting an algorithm to incorporate.

## Expected Behavior

This documentation should enable people to:
 - view

[2017-08-04 13:11] reubano opened #26 "Document the Alex |Andre |Gilberto |Shize algorithm"
## Overview

Participants in the [Data Science Bowl](https://www.kaggle.com/c/data-science-bowl-2017) produced several algorithms that we would like to incorporate. To help facilitate this effort, we also want to add documentation so that contributors can make an educated decision when selecting an algorithm to incorporate.

## Expected Behavior

This documentation should enable people to:
 - view

[2017-08-04 13:11] reubano opened #27 "Document the Deep Breath algorithm"
## Overview

Participants in the [Data Science Bowl](https://www.kaggle.com/c/data-science-bowl-2017) produced several algorithms that we would like to incorporate. To help facilitate this effort, we also want to add documentation so that contributors can make an educated decision when selecting an algorithm to incorporate.

## Expected Behavior

This documentation should enable people to:
 - view

[2017-08-04 13:13] reubano opened #28 "Document the Owkin Team algorithm"
## Overview

Participants in the [Data Science Bowl](https://www.kaggle.com/c/data-science-bowl-2017) produced several algorithms that we would like to incorporate. To help facilitate this effort, we also want to add documentation so that contributors can make an educated decision when selecting an algorithm to incorporate.

## Expected Behavior

This documentation should enable people to:
 - view

[2017-08-04 13:20] lamby opened #29 "Show current Git version in top-level navigation"
## Overview

Interface should include the current Git version in the top-right corner. This is in order to ease reporting of issues; any screenshots will implicitly include the version, potentially saving wasted effort when debugging possibly-fixed bugs, etc.

## Expected Behavior

In the interface, the truncated SHA of the Git version used to build the site should be displayed, eg. ``b1f2ad46``.

[2017-08-04 13:20] lamby opened #30 "Provide a summary all of the data from a case into a single JSON report"
## Overview

Whilst initially any summary will be fairly bare, by adding a summary all of the data from a case into a single JSON report early-on in the project we can be sure that any data will/can be exported for completeness reasons, etc.

It will also likely help in debugging and development of backend components as it will avoid making manual queries to the database via SQL commands or via a

[2017-08-04 13:20] lamby opened #31 "Show directory tree of possible images"
## Overview

The first step of the analysis and identification process is to select an image file from the local disk. We should therefore show the user all the possible files available.

## Expected Behavior

Upon loading the application, we should show a directory tree of the potential files:

![](https://i.imgur.com/nPNtluH.jpg)

## Technical details

The files should be displayed in a tree, id

[2017-08-04 13:20] lamby opened #32 "Breadcrumb navigation"
## Overview

A "breadcrumb trail" is a type of secondary navigation scheme that reveals the user's location in a website or Web application. For example, "Open image -> Detect and select -> ...". We should add this for mnavigation based on the current stage in the analysis to aid the end-user

## Expected Behavior

The current page should be highlighted:

![](https://i.imgur.com/KNyNv2D.jpg)

The

[2017-08-04 13:21] lamby opened #33 "Display metadata about an image prior to selection"
## Overview

When browsing for an test case to analyse, it would be very helpful for the end-user to be able to preview a particular case before proceeding to the next step. This would also provide means to ensure and double-check they are selecting the correct patient.

We should therefore display metadata about an image prior to selection.

## Expected Behavior

The image metadata should be disp

[2017-08-04 13:21] lamby opened #34 "Add ability to set right/left lung for candidate nodule"
Add ability to set right/left lung for candidate nodule

## Overview

Annotation and segmentation view should support ability to save which right/left lung the nodule corresponds to; before we pass back any more detailed or complex information, we should simply provide a way to return this information so that adding further data in future is easier.

## Expected Behavior

It should be possible to

[2017-08-04 13:22] lamby opened #35 "Show list of candidates nodules on "Detect and select" page"
## Overview

Before more data is added to this view, we will start by simply showing the list of candidate nodules that are returned by the backend. Therefore, "Detect and select" views should show list of candidate nodules.

No accept/reject support is required here; that will be covered elsewhere.

## Expected Behavior

The list of nodule candidates should be displayed on the "Detect and select"

[2017-08-04 13:22] lamby opened #36 "Accept/reject nodule candidates interface"
## Overview

Some nodules will be identified as non-candidates by the end user. Therefore, we should provde the  ability to accept/reject nodule candidates on the "Detect and select" view.

## Expected Behavior

"Dismiss" and "Mark concerning" buttons should be persisted by the user:

![](https://i.imgur.com/wJYKqNb.jpg)

The next nodule candidate displayed until there are none left.

The user's d

[2017-08-04 13:22] lamby opened #37 "Show "X candidates found" on the "Detect and select" page"
## Overview

In order to help the end-user get a quick overview of the scale of the case, we should show a "X candidates found" message on the "Detect and select" step of the identification/analysis.

## Expected Behavior

For example, "7 candidates found" as displayed here:

![](https://i.imgur.com/N3EbWky.jpg)

## Technical details

If the backend does not provide summary ``num_candidates`` meta

[2017-08-04 13:22] isms commented on #12
Pasting in a random snippet using [pydicom](https://github.com/pydicom/pydicom/) that may be helpful :sparkles::sparkles::sparkles:
[code]

[2017-08-04 14:18] reubano opened #38 "Create a smaller test image dataset"
## Overview

Currently test images are stored in the [git repository](https://github.com/concept-to-clinic/concept-to-clinic/tree/master/tests/assets). These images are formatted as directories of [DICOM](https://en.wikipedia.org/wiki/DICOM) files. Each directory contains hundreds of files, and consumes ~100MB of space. We would like to reduce the number of files to the bare minimum needed to dete

[2017-08-04 14:22] isms opened #39 "Inspect a DICOM directory and create appropriate model instances"
## Overview
The interface backend has some model stubs for tracking metadata about DICOM imagery. The `Case` [model](https://github.com/concept-to-clinic/concept-to-clinic/blob/master/interface/backend/cases/models.py) tracks a radiologist's workflow examining an image series, so it's the heart of this application. But the `Case` has foreign keys to the `ImageSeries` [model](https://github.com/con

[2017-08-04 18:03] pjbull opened #41 "Document how to update documentation"
## Overview
We need documentation on how to update the documentation! Bootstrap this for us!

Current page: https://concept-to-clinic.readthedocs.io/en/latest/project-structure.html

## Expected Behavior
 The documentation is a [sphinx](http://www.sphinx-doc.org/en/stable/) project. We need documentation on how to edit, structure, build locally, and test the documentation for participants who aren

[2017-08-04 18:29] pjbull opened #42 "Add default githooks for tests and flake8"
## Overview
Git hooks are useful tools that run commands before you commit

## Expected Behavior
We should have a default githook script and instructions on how to install the git hook.

## Technical details
- Add `.githook-pre-commit` file with the script to run the tests (`tests/test-docker.sh`) and flake 8 on both of the codebases.
 - Add instructions for the docs about how to copy this file to

[2017-08-05 14:48] rahit commented on #31
Hello!
Current API call in index page retrieving image list from `/api/images/`which is using magic method of Django REST frameworks's ModelViewSet to list down all `ImageSeries` object. Since `ImageSeries` is a database model, at first the files needed to be loaded into database to instantiate that way.

On the other hand, to load files directly from filesystem, we should use Django's `storage` c

[2017-08-06 10:04] reubano opened #45 "Fix the missing images on the homepage"
The images next to the logo, and above the "I'm a Data Scientist" text are missing.

![screen shot 2017-08-06 at 1 01 50 pm](https://user-images.githubusercontent.com/157864/29002274-7174f5f0-7aa7-11e7-983a-4c8a2ba030ce.png)

![screen shot 2017-08-06 at 12 52 04 pm](https://user-images.githubusercontent.com/157864/29002246-d302ef3a-7aa6-11e7-8fb4-b85f1bb12bbb.png)

## Expected Behavior
The images

[2017-08-06 10:12] reubano opened #46 "Fix incorrect "developer documentation" link in the readme"
The "developer documentation" under [Getting Started](https://github.com/concept-to-clinic/concept-to-clinic#getting-started) doesn't link to the "Local development with Docker" section.

## Expected Behavior
The link should point to https://concept-to-clinic.readthedocs.io/en/latest/developing-locally-docker.html

## Current Behavior
The link points to the main documentation page https://conceptt

[2017-08-06 18:01] #45 closed

[2017-08-07 08:34] reubano opened #47 "3rd level header links in dev docs have colliding titles"
Visit https://concept-to-clinic.readthedocs.io/en/latest/design-doc.html#prediction-service and you will notice that the 3rd level headings are the same in each section, this prevents you from navigating to any section other than the 1st.

## Expected Behavior
Clicking on a heading (e.g., Interface API) should go to the appropriate section

## Current Behavior
You can only navigate within the firs

[2017-08-07 12:56] QuantumDamage commented on #1
Hi @pjbull ,
is there any data set with already marked nodules which can be used to training? As far as I checked, Data Science Bowl has only data related to class, not actual nodules.

[2017-08-07 13:10] poppingtonic commented on #17
I have a public fork [here](https://github.com/poppingtonic/concept-to-clinic.git) and want to tackle this issue. I can't update my fork with the LFS data because of [this issue](https://github.com/git-lfs/git-lfs/issues/1906)

[code]

[2017-08-07 17:42] pjbull commented on #1
@QuantumDamage Yes! Short answer is that [LIDC-IDRI](https://wiki.cancerimagingarchive.net/display/Public/LIDC-IDRI) (and thus [LUNA](https://luna16.grand-challenge.org/data/)) has nodules labeled. Going to add a documentation page for datasets so that we can keep everyone on the same page--thanks for raising it.

[2017-08-08 10:44] reubano commented on #45
Addressed by https://github.com/concept-to-clinic/point-platform/issues/63

[2017-08-08 19:03] QuantumDamage commented on #1
Cool, LUNA even have nice ~7 GB data packages available via torrents. I just started downloading them to see what is actually inside.

[2017-08-08 19:55] lamby commented on #31
@rahit

Thanks so much for your question. In addition, my sincere apologies for the delay in getting back to you; this notification it stlipped through my "net" so I didn't see it until now..

Ideally, we would want to browse using the ``storage`` framework and — after selection — ``PUT`` the selected files to the API to *create* the ``ImageSeries`` at that point. This ensures a proper separation

[2017-08-08 20:19] rahit commented on #31
Thank you for your response @lamby. According to current set up, it seems the system is assuming that image files would be preloaded in the database. Current vue frontend is expecting `ImageSeries`. API call is also made to an endpoint which expected to return all `ImageSeries` objects. If we want to import image information based on user's selection, I think the better option would be using `View

[2017-08-09 02:16] lamby commented on #31
@rahit

Indeed, and I wonder if the cleanest way forward is to add another endpoint to load images so that all the metadata can be returned by the API instead of the local preview images etc. Let me have a think!

[2017-08-09 05:44] rahit commented on #31
@lamby
I will be right here waiting for you. :musical_note: :)

[2017-08-09 17:29] QuantumDamage commented on #1
Cool, LUNA even have nice ~7 GB data packages available via torrents. I just started downloading them to see what is actually inside.

[2017-08-09 19:36] #47 closed

[2017-08-10 07:59] tdraebing commented on #38
I had a look into this and found that the dimensions metadata is in the metadata of each *.dcm-file. The xml-file denotes the position of the marked nodules and is not needed to load the images.
`pydicom` actually does not care if you delete images of a series, but `dicom-numpy` does, since it tests, whether the distance between slices is the same. Since the numbering of the files is not in the sa

[2017-08-10 08:16] reubano opened #52 "Fix broken links in main documentation"
## Overview

A few links in the [Getting Started section](https://concept-to-clinic.readthedocs.io/en/latest/contribute.html#getting-started) of the documentation are broken (the 2nd and 3rd bullets).

## Expected Behavior

The links found at

- Find an open issue you’re interested in working on
- Get your local environment running with the developer documentation

should point to valid urls.

##

[2017-08-10 08:33] reubano commented on #38
Yes, you can include the script. Also, feel free to remove the original files from the repo. The goal of the PR is to reduce the repo's total size.

[2017-08-10 14:40] lamby commented on #17
@poppingtonic Hey, thanks for jumping in :) I think what would be the best "next step" would be if you could get a branch / PR up and running here - that way it should smooth the permissions out, no?

[2017-08-10 14:48] #7 closed

[2017-08-10 23:47] RMolero commented on #1
Hi guys, really want to help, but not sure how - any tips/topics where you need help?

[2017-08-11 06:30] reubano commented on #1
Hi @RMolero. You may want to take a look at the issues [we've labelled minor](https://github.com/concept-to-clinic/concept-to-clinic/labels/minor). Those should be more beginner friendly :).

[2017-08-12 06:56] QuantumDamage commented on #1
@RMolero  You can also use [forum](https://community.drivendata.org/c/concept-to-clinic) for general questions, so they will not be lost in issue specific discussions.

And for example, in this issue, we are looking for model which will be trained to point for centroid of nodule. So despite having another model which will classify CT images, we will also have model which will point to *interesting

[2017-08-12 17:53] #46 closed

[2017-08-14 18:21] #17 closed

[2017-08-14 18:22] lamby commented on #17
@poppingtonic Thanks so much for this. As we can't work around the permissions I've gone ahead and done this in 7d46f083a9e3dc13042da1ffbc275d9e9b055833 and will credit you for the effort :)

[2017-08-14 22:39] datu925 commented on #14
Hi @pjbull! Acceptance criteria for this issue seems to be a carryover from the identification model.

[2017-08-14 23:27] pjbull commented on #14
Hey @datu925!! Good to see you here! I've updated those, good catch. 🙇

[2017-08-15 20:31] alexanderrich opened #54 "External links in https://concepttoclinic.drivendata.org/documentation do not work"
## Expected Behavior
When viewing the documentation through https://concepttoclinic.drivendata.org/documentation, external links should take the browser to a new webpage.

## Current Behavior
Clicking external links (at least in Firefox and Chrome) leads to a page with the "Concept to Clinic" heading that is otherwise blank.

## Possible Solution
It looks like the documentation page uses an iframe

[2017-08-17 09:12] tdraebing commented on #38
I finally finished the pull request.
But I have some concerns that I wanted to share before the pull request is merged. While the reduced size of the dataset is no issue for testing tooling or similar tasks, it might reduce the dataset's information content considerably, which might cause issues for training models etc. A lot of positional information gets lost for example: Where in the lung is th

[2017-08-17 09:15] tdraebing commented on #12
I gave this issue some more thought. I think for future tasks it might be helpful to, instead of just handing over an array with the pixel data, create an object that also contains some useful metadata, as well as to be a place where future prediction algorithm can store the position of the nodules. What do you think? I would be happy to refactor the script.

[2017-08-17 09:28] reubano commented on #38
I don't think we will have to worry about training too much since anyone serious about that will likely dl the entire data set. This is mainly to lower the bar for someone wanting to clone the repo and play around. Fortunately, now that #17 is closed, contributors still have access to the full size test data set if they want it.

The main question now is how best to integrate these two. Maybe sub-

[2017-08-17 09:32] tdraebing commented on #38
That seems like a good idea. I will update the pull request to change the doc-string styling and include both test set sizes. I think it will also make sense to add a short readme-file to the assets folder giving the specifics for anyone, who wants to fiddle around with the test data.

[2017-08-17 09:34] #12 closed

[2017-08-17 16:46] excalliburbd commented on #6
Just to clarify for the first pass we want to build the Vue project and have Django serve the static files?
It's a bit confusing since the previous point mentions two servers.

[2017-08-17 17:13] excalliburbd commented on #9
Since Bootstrap 4 hit beta is it safe to assume we are using that instead?

[2017-08-17 18:13] isms commented on #9
@excalliburbd Yep, v4

[2017-08-17 18:18] isms commented on #6
@excalliburbd check out the current template, it's already using Vue this way just as a demonstration

[2017-08-18 00:47] tjvananne commented on #26
I'm reading through this one right now. Please correct me if I'm wrong, but it seems like the competition target variable was to predict the **probability of the patient having cancer** as a whole as opposed to the probability of each individual nodule within the lungs?

It looks like most of these go through the same z-slice normalization, lung segmentation, and nodule detection/isolation steps.

[2017-08-18 06:24] tdraebing opened #58 "Create a template for algorithm documentation"
## Expected Behavior
Future documentation of detection algorithms (Issues #18, #19, #20, #21, #22, #23, #24, #25, #26, #27 and #28) should have a consistent structure and make it easy to compare the different algorithms.

## Current Behavior

The issues mentioned above ask for documentation of algorithms from the Data Science Bowl. If addressed by several people, the documentation of each algorith

[2017-08-19 14:46] tjvananne commented on #58
**TL;DR: competition algorithms predict if patient has cancer, not the probability that each nodule is cancerous, right?**

It looks like most of these go through the same z-slice normalization, lung segmentation, and nodule detection/isolation steps. But then it's the final feature generation steps that might need to be refactored quite a bit to tackle the new problem statement of predicting the

[2017-08-20 16:29] WGierke commented on #54
Hey @alexanderrich
the reason is that external pages (such as https://github.com/concept-to-clinic/concept-to-clinic in your example) set the [Content-Security-Policy frame-ancestors](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors) no `none`, meaning that no third party is allowed to frame their content.
Since we can't alter their CSP flags, the o

[2017-08-20 16:41] isms commented on #54
@WGierke We can alter CSP flags if necessary. Any recommendations?

[2017-08-20 16:46] WGierke commented on #54
@isms but we can't alter them of third parties such as Github. If they set frame-ancestors to none, it's not possible to frame their content at all. So I'll agree with @alexanderrich that either opening the problematic links in a new tab using `target="_blank"` or to directly link to the readthedocs page instead of including it in an iframe are the only reasonable solutions here (from my point of

[2017-08-20 17:20] WGierke commented on #42
I guess this can be closed as it was implemented in #51 ?

[2017-08-20 17:21] WGierke commented on #52
I guess this can be closed as it was implemented in #53 ?

[2017-08-20 22:07] WGierke opened #59 "140MB fresh repo size (without much code or data, not using LFS)"
## Expected Behavior
After cloning using Git (and without LFS), after 30 commits and without test data, the repository should only be at most a few MB in size.

## Current Behavior
It's over 140 MB when cloning the master.
![screenshot from 2017-08-20 23-47-45](https://user-images.githubusercontent.com/6676439/29498742-5ce78358-8602-11e7-9b94-68c28be6a7b4.png)

## Possible Solution
I guess that th

[2017-08-21 02:08] lamby commented on #54
On the ``target="_blank"`` thing — I was looking at the Sphinx source code  earlier for a configuration option and it looks like it should be doing this already, so not sure what's up. Sphinx is setting the ``external`` class, however, so we could add some Javascript to either hijack clicks to those, or simply to add the ``target="_blank"`` on page load.

Re. altering the CSP flags, I fear that:
a

[2017-08-21 06:04] WGierke commented on #54
I'd completely agree with dropping the iframe in favor of e.g. opening the documentation page in a new tab. This way, the user stays on  https://concepttoclinic.drivendata.org while he enjoys expected browsing behavior in the documentation and by following all external links.

[2017-08-21 11:55] reubano commented on #54
Tagging this as official

[2017-08-21 12:03] reubano commented on #58
Tagging this as official

[2017-08-21 12:28] reubano commented on #58
Yes

Mostly. I've noticed a few differences in some of the pre-processing. A good first step would be to just enumerate the individual steps and then (roughly) categorize the different ways of doing each step.

Correct. Since the initial competition ended, our end user research led us to develop a system that operates on a more granular level (node). As you mentioned, the aggregate stats (total nu

[2017-08-21 12:31] reubano commented on #26
Answer [posted here](https://github.com/concept-to-clinic/concept-to-clinic/issues/58#issuecomment-323731643).

[2017-08-21 12:48] lamby commented on #54
Thanks @WGierke !

[2017-08-21 12:57] #54 closed

[2017-08-21 13:31] lamby commented on #54
@WGierke This should be fixed now. Awarded points for the research etc.  Thank you again.

[2017-08-21 19:15] rahit commented on #31
@lamby
Got it. I will start working on it. But I am not clear what did you mean by -

[2017-08-22 09:29] #52 closed

[2017-08-22 09:31] reubano commented on #59
Tagging this as official

[2017-08-22 09:39] #16 closed

[2017-08-22 15:18] WGierke opened #63 "Travis: "Could not find repository""
When trying to see the Travis logs of a build, you end up on a Travis page stating "We couldn't find the repository concept-to-clinic/concept-to-clinic".

## Expected Behavior
When trying to access the Travis logs of a build, you should be able to see the logs of the respective build.

## Current Behavior
You see the described error page.

## Possible Solution
Are the builds only visible to admins

[2017-08-22 15:28] isms commented on #63
@WGierke Thanks for reporting. I can reproduce this in an incognito window, but can you confirm you authed with Github?
![image](https://user-images.githubusercontent.com/1284973/29573462-05a06f84-872d-11e7-9241-d8275bee8d7e.png)

[2017-08-22 15:31] WGierke commented on #63
Hey @isms Thanks for your fast comment! Sorry for the missing screenshot but yes, I can confirm it even when I'm logged in
![screenshot from 2017-08-22 17-30-44](https://user-images.githubusercontent.com/6676439/29573624-bfe82be8-875f-11e7-96f5-b7bc8e153833.png)

[2017-08-22 15:38] isms commented on #63
@WGierke Got it, this is weird and I've reported to Travis. Will update when we hear back!

[2017-08-22 19:33] reiinakano commented on #2
Not sure if this is a dumb question, but given that there will probably be multiple models in the end, how do you intend to separate them? Would it make sense to to further divide `prediction/classify` into a subfolder for each model? e.g. `prediction/classify/vgg` would contain `prediction/classify/vgg/src/`, `prediction/classify/vgg/trained_model/predict/`, and `prediction/classify/vgg/assets/`

[2017-08-22 19:40] isms commented on #2
@reiinakano Not a dumb question at all, and in fact having a "model zoo" was considered. It's not out of the question as the project moves forward, but until we have something to go from the current goal is just to have a best-available frozen model (+ its preprocessing and training pipeline) for each task.

[2017-08-23 02:40] reiinakano commented on #2
Thanks for the answer. My concern is that you're considering a lot of different algorithms from the get-go (as seen in #18 - #28). What happens when multiple people decide working on different algorithms? Personally I don't think it would be a terrible idea to separate them into subpackages from the start to facilitate parallel development.

As long as they have the same interface, switching to th

[2017-08-23 03:21] isms commented on #2
Agreed that could be a useful refactoring once the pain point exists. If you're interested in working on this bit of architecture I'd encourage you to keep alert for the right time (could be soon) and propose the change as a refactoring; at the moment it's premature.

[2017-08-23 05:18] reiinakano commented on #14
Interested in this issue but am a bit unclear on exact details of the expected API.

Should I modify the return result of `POST segment/predict` to include summary statistics? Or should I create a new endpoint, say `GET/POST segment/statistics`, that take the binary mask path and outputs the volumes?

[2017-08-23 06:54] dchansen commented on #1
The grt123 teams solution is available, including a serialized version. Would that be acceptable for this feature?

[2017-08-23 11:30] #38 closed

[2017-08-23 17:22] isms commented on #63
It turns out we were still using travis-ci.com from before the private -> public switch was flipped on this repo. Now it's all set on travis-ci.org as a public repo. You should see the newer builds (currently failing due to LFS bandwidth issues :crying_cat_face:) on the .org side.

Thanks @WGierke for reporting and investigating. Closing.

[2017-08-23 17:22] #63 closed

[2017-08-24 15:03] lamby opened #68 "Cannot view the Travis CI logs"
Via https://github.com/concept-to-clinic/concept-to-clinic/pull/65#issuecomment-324301086

@reiinakano wrote:

[2017-08-24 15:17] lamby commented on #26
@tjvananne Did @reubano's link answer your question? :)

[2017-08-24 15:18] lamby commented on #31
@rahit

I meant that you should preferable add a separate issue that adds another endpoint and commit that separately, then this one "just falls into place". Smaller code changes are, of course, easier to review.

[2017-08-24 15:19] lamby commented on #42
Indeed, closing. Thanks @WGierke !

[2017-08-24 15:19] #42 closed

[2017-08-24 15:31] isms commented on #68
@lamby duplicate of #63

[2017-08-24 15:41] reiinakano opened #69 "Travis CI tests failing at `git clone`"
## Expected Behavior
Travis CI tests shouldn't fail at the `git clone` step

## Current Behavior
This error happens during downloading of .dcm files by the Travis server at the

`$ git clone --depth=50 https://github.com/concept-to-clinic/concept-to-clinic.git concept-to-clinic/concept-to-clinic`

step.

[code]

## Possible Solution

Can't help here, not familiar with LFS

## Steps to Reproduce

1

[2017-08-24 15:45] reiinakano commented on #68
@lamby This has already been fixed. Although there is a new issue stemming from this at #69

[2017-08-24 16:27] tdraebing commented on #58
I created a pull request with a first draft of the template. If you have ideas of how to improve it please fill free to comment on it or to directly add a commit.

[2017-08-24 18:05] vessemer commented on #13
I'm a bit confused: how we are going to calculate the real volume of an area while the function does not receive the CT meta data. Also, can you please clarify how the output from the predict method will be serialised? And last: is it necessary to provide the centroids, since all centroids may be re-estimated via the connected components analysis?

[2017-08-24 21:38] pjbull commented on #69
Chiming in here with the thought that #59 might be part of this issue. I think we'll have to do some history rewriting there to get the DICOM images out of `git` for good, and then after that I think that we can ensure `git lfs` is turned off for travis so that we don't try to pull anything down.

IIRC, we don't need any of the `git lfs` files for the travis builds.

[2017-08-24 23:25] vessemer commented on #2
As it was already mentioned: different architectures require different preprocessing methods. Whether it will be a good decision if the input of the feature will include the information about preprocessing function either? I hope it'll be a better to open a new issue dedicated to the preprocessing step. In this way, model may be fed along with a parameters' dictionary. The latter will be used in o

[2017-08-25 00:02] isms commented on #2
@vessemer Thanks for the thinking around this. I have a couple questions just to make sure I understand!

You mean should we be passing more information from the interface part back to the prediction part? Or something else?

Sorry, not sure I understand the question?

And seems like you probably already grabbed this but as a general observation, our thought is that we'd like to first see _one sol

[2017-08-25 00:40] vessemer commented on #2
@isms thanks for the quick response. I mean that prior to any model evaluation some preprocessing should take place over the row DICOM data. I've agreed with your concern regarding cumbersome architecture at the starting point.

Right now for me it is not clear what is meant by the 'model': whether it is a model object from some ML backend such as TensorFlow or Theano, or it's some essence of high

[2017-08-25 06:23] lamby commented on #68
Okay, closing this in "favour" of #69. Thanks all!

[2017-08-25 06:23] #68 closed

[2017-08-25 11:52] #14 closed

[2017-08-25 11:55] lamby commented on #10
Closed in https://github.com/concept-to-clinic/concept-to-clinic/pull/66. Thanks !

[2017-08-25 11:55] #10 closed

[2017-08-25 16:29] pjbull commented on #69
I'm going to see if turning off `git-lfs` on Travis will fix this, thanks for the report!

[2017-08-25 16:33] pjbull commented on #59
@lamby I think we may need to rewrite history to reduce this size. Can you take the lead on:
 (1) seeing if that would work
 (2) making sure the history rewrite won't majorly mess up people's existing forks/PRs (?)

[2017-08-25 20:21] dssa56 commented on #3
Hi. I'd like to work on this issue. Might I ask what level of accuracy we should be working towards for this first pass? I see that you don't yet require a highly accurate model, but the acceptance criteria mentions that it should be trained. To what extent are you looking for a "stand in" versus the first step towards a model that might appear in the finished product? Similarly, if I work on this

[2017-08-26 06:49] #8 closed

[2017-08-26 16:34] WGierke commented on #19
I've reached out to the author since he mentions in the README that he knows how to simplify and speed-up his code without major performance loss.

[2017-08-26 19:31] yazan-alomari opened #75 "React for the frontend instead of Vue.js"
## Expected Behavior
React component-based approach for the frontend is better than using a template-based syntax.

## Current Behavior
HTML-based template syntax

## Possible Solution
Reusable components by react, especially the treeview folder structure and the image with its metadata for the selected case. React components are easy to implement and can interface with any backed api regardless o

[2017-08-27 06:18] rahit opened #77 "New API endpoint to fetch dataset directory"
As per discussion in issue #31 we need a separate endpoint to fetch dataset containing images and directories.

## Expected Behavior
API call should return a list of directories and images of the dataset without preloading the dataset into the database.

## Current Behavior
Currently, homepage is making API call to `/api/images/` which is actually a ModelViewSet connected with a database model.

#

[2017-08-27 07:17] WGierke opened #79 "Fix: Readthedocs does not include code documentation from #8"
When visiting http://concept-to-clinic.readthedocs.io/en/latest/, the auto-generated code documentation should be visible.

## Current Behavior
It is not visible.
![screenshot from 2017-08-26 13-30-54](https://user-images.githubusercontent.com/6676439/29747869-6f1423aa-8b08-11e7-9088-992ea59e3f2b.png)

## Possible Solution
I guess the problem is that readthedocs needs the auto-generated .rst files

[2017-08-27 12:18] isms commented on #75
Hi @yazan-alomari, thanks for contributing :+1:

In general we're not excited to have Framework X versus Framework Y debates, but to at least address what seems to be the point about reusable components: please see [this page on reusable Vue components](https://vuejs.org/v2/guide/components.html) and then let us know if you still think this issue is a pertinent Vue vs. React consideration.

Closin

[2017-08-27 12:18] #75 closed

[2017-08-28 09:34] #29 closed

[2017-08-28 09:39] #39 closed

[2017-08-28 09:42] #79 closed

[2017-08-28 11:01] reubano commented on #13
Hi @vessemer

Good point! I think one way to approach this is to create a new function that outputs `metadata`, and then pass in that `metadata` as a third argument. I see you've assumed something similar in your PR via `voxel_shape`.

That will be up to whoever implements the `predict` function. I see you have assumed `npy` files. That should be perfectly fine as a stub for now. In the event a di

[2017-08-28 11:27] reubano commented on #2
Hi @vessemer, I see you've already added some preprocessing logic in your PR, but #58 may give you a bit more context. Essentially, each competition implementation has it's own set of preprocessing steps. During the integration of any individual implementation, its associated preprocessing (and other) steps should be decoupled so that they work together as modular pieces of a functional whole. As

[2017-08-28 12:13] reubano commented on #3
Hi @dssa56 thanks for your questions!

You shouldn't be too worried about accuracy at this point. We have referenced the top 10 implementations from the original Kaggle competition as starting points (#18 - #28). And any one of those should be accurate enough for the MVP. I would say, just make sure the integrated solution isn't significantly *less* accurate than its original version.

This will b

[2017-08-29 02:42] antonow commented on #6
I've been working on this issue, and I have a few questions.

1) I see that in the "Project Structure" section of the docs there is an asset folder that is outside of the backend and frontend directories. May I propose hosting the built assets for production inside an asset folder inside the frontend folder?

By putting the assets outside the frontend project, at least one of webpack's handy featu

[2017-08-29 12:03] isms commented on #69
Appears to be closed by 600b307.

Thank you to @iriberri and the Travis team for looking into this. Technical background for posterity:

[2017-08-29 12:03] #69 closed

[2017-08-29 12:12] isms commented on #6
My instinct is that this is fine since `backend` should be "just" the API with no static assets.

This strikes me as correct. @lamby @pjbull thoughts?

Definitely. If the PR is accepted just reference @WGierke's work and you'll both get credit :+1: .

Thanks for the thoughtful questions!

[2017-08-29 12:12] reiinakano commented on #69
Tests are still failing from the same error.

[2017-08-29 12:14] isms commented on #69
:smile:

[2017-08-29 12:19] iriberri commented on #69
Glad to hear this helped!

As a bit more information, and related to https://github.com/concept-to-clinic/concept-to-clinic/issues/69#issuecomment-324764725, if you don't need these git-lfs files during build time, it'd just be enough to add the following to your .travis.yml to tell Travis not to fetch these assets during `git clone`:

[code]

[2017-08-30 14:46] poppingtonic commented on #17
Thank you @lamby.

[2017-08-31 16:31] #9 closed

[2017-08-31 17:41] isms commented on #6
For transparency and planning purposes, I am planning to start working on this issue over the weekend if it hasn't been addressed by then. :eyes:

[2017-09-01 08:57] reubano commented on #13
Hi @vessemer, see https://github.com/concept-to-clinic/concept-to-clinic/pull/78#issuecomment-326527819.

[2017-09-01 10:17] #41 closed

[2017-09-01 19:56] dssa56 commented on #3
Hi again. Just a quick question about image scales and evaluation. In the LIDC dataset, all the nodules have a size of O(10x10) px per 2d slice. Since this is the only 'official' dataset available at the moment, I'm thinking of training on it exclusively for now. Given that the resulting model probably won't perform well on higher-res images (although one can always downsample, I suppose), I'm won

[2017-09-02 06:24] #32 closed

[2017-09-02 08:02] #11 closed

[2017-09-02 12:07] isms commented on #3
@dssa56 Yes, good performance on LIDC is fine for an MVP submission. Thanks for the question.

[2017-09-03 09:09] WGierke opened #86 "Gloabl JS Error Handler"
From [PR #85 ](https://github.com/concept-to-clinic/concept-to-clinic/pull/85#pullrequestreview-60289138): build a global JS error handler that displays a notification on any passed error.

## Expected Behavior
There's one global error handler that is used as an error callback by JS functions and that displays the errors as "some kind of drop-down".

## Current Behavior
Every JS function has to im

[2017-09-04 13:04] vessemer commented on #2
Hi @reubano, as it was mentioned in the technical details from the [issue #2](https://github.com/concept-to-clinic/concept-to-clinic/issues/2):

The `classify` shouldn't lie in the `prediction/src` directory but in the `prediction` itself. Is there a typo in the issue or is it now outdated?

[2017-09-04 15:39] #58 closed

[2017-09-04 15:46] Serhiy-Shekhovtsov opened #89 "Can't get the system running"
After pulling the code and data I can't run the environment. The build was successful, but the command for taking projects up fails with following error:

compile_docs_1 | make: Entering directory '/app/docs'
compile_docs_1 | make: Leaving directory '/app/docs'
compile_docs_1 | make: *** No rule to make target 'html'. Stop.
postgres_1 | LOG: database system was shut down at 2017-09-04 12:24:18 UTC

[2017-09-04 16:19] reubano commented on #89
Hi @Serhiy-Shekhovtsov, what OS do you have? How did you install docker? And can you please post the output of the following?

[code]

Thanks!

[2017-09-04 16:27] Serhiy-Shekhovtsov commented on #89
He @reubano!

`Docker version 17.07.0-ce, build 8784753`
`docker-compose version 1.15.0, build e12f3b94`
`docker-machine.exe version 0.12.2, build 9371605`

Btw, I have put the following code to `start-dev.sh`:
[code]
and after rebuild and run it printed:
interface_1   | Postgres is up - continuing...
interface_1   | Hello World
**interface_1   | []**
interface_1   | python: can't open file 'manag

[2017-09-04 16:28] Serhiy-Shekhovtsov commented on #89
And before that I also printed the cwd, it is `/app`.

[2017-09-04 19:51] Serhiy-Shekhovtsov commented on #89
The problem is - on windows we can't(?) mount the folder that is outside home directory (C:\users\username). More details [here](https://github.com/docker/compose/issues/2548).
[This tool](https://github.com/vweevers/node-docker-share) looks promising.

[2017-09-04 20:05] isms opened #90 "Documentation compilation is broken"
The new Docker services introduced by #55 to compile documentation are not currently working.

## Expected Behavior
We expect on `docker-compose -f local.yml up --build compile_docs` for the documentation to build properly.

## Current Behavior
We currently get numerous stack traces:

[code]

## Possible Solution
There seem to be two problems:

1. Packages are not being installed, e.g. Django. See

[2017-09-04 20:08] isms commented on #89
@Serhiy-Shekhovtsov @reubano The actual root causes should be separated here.

### Problem in your `compile_docs` container

There seems to be a problem with the `compile_docs`. This is a bug introduced by #55, possibly due to lack of `__init__.py`s and installation of requirements when the docs are being compiled. Opening up a separate issue, see #90.

### Problem in your `interface` container

@

[2017-09-04 20:15] Serhiy-Shekhovtsov commented on #89
@isms, docker maps the folder on host machine to a folder inside Docker container. When the **host** folder I am mapping is not inside home directory - the mapping doesn't work.
So, when project is placed in `D:\Projects\DS\concept-to-clinic\repo` - it doesn't work. If I copy the project to `C:\Users\serhiy\concept-to-clinic` it's going to work.
Does it make sense now?

[2017-09-04 20:16] isms commented on #90
@musale Any chance you can look into this?

[2017-09-04 20:17] isms commented on #89
@Serhiy-Shekhovtsov Interesting, I think I understand what you're saying.

What is the proposed path forward with this issue as it's not project specific?

[2017-09-04 20:22] Serhiy-Shekhovtsov commented on #89
@isms looks like it can be fixed with [this tool](https://github.com/vweevers/node-docker-share). After mounting `interface` folder it don't have problems locating `/app/manage.py`.
Then I mounted the repo root folder and it's failing to mount the `HEAD`:

Basically, point is `head` is not a directory, just like it says. I am looking into it.

[2017-09-04 20:30] Serhiy-Shekhovtsov commented on #89
Yes, mounting the root repository folder fixed the sharing issue. The error above solved by removing and rebuilding the container.

[2017-09-04 20:36] Serhiy-Shekhovtsov commented on #89
The most recent log looks good:

But still the interface project can't be reached from browser on host machine. I tried browsing `http://localhost:8000/` and `http://[container_ip]:8000/`

[2017-09-04 20:56] Serhiy-Shekhovtsov commented on #89
Ok, issue solved now. The site can't be reached with `localhost` or `container_ip` but can be reached using `DOCKER_HOST ` variable. Command `docker-machine env` can be used to get this value.

[2017-09-04 22:42] reubano commented on #2
@vessemer thanks for pointing that out! The file structure changed since this issues was first created. The new base path is `prediction/src/algorithms/classify/`.

[2017-09-05 00:16] isms commented on #89
Great, closing. Thanks for reporting!

[2017-09-05 00:16] #89 closed

[2017-09-05 11:28] reubano opened #91 "Replace the git LFS files in the small test image dataset with local files"
## Overview

Currently, the test image data is split into a set of large and [small](https://github.com/concept-to-clinic/concept-to-clinic/tree/master/tests/assets/test_image_data/small) [DICOM](https://en.wikipedia.org/wiki/DICOM) files. While both sets are managed by [git LFS](https://git-lfs.github.com/), we would like to convert the small data set into locally stored files so that `git-lfs` w

[2017-09-05 13:10] WGierke commented on #33
Do you know what the "mA" (probably milliampere?) information means and how to access it using `pydicom`?

[2017-09-05 13:33] musale commented on #90
Hi @isms
I will definitely have a look. Off the bat I can see that building the container using the `prediction` app requirements is a reason why there are missing packages. Let me try and reproduce on my end then I'll patch this up.

[2017-09-06 06:34] lamby commented on #35
Fixed in #88

[2017-09-06 06:34] #35 closed

[2017-09-06 07:47] ask7 commented on #90
The problem is that the docs rely on Django, but it is not present in the prediction/requirements.
Using
`dockerfile: ./compose/interface/Dockerfile-dev`
instead works. Maybe the docs should have their own requirements file?

[2017-09-06 09:31] musale commented on #90
Hello @ask7 I tried using the `interface` app Dockerfile and I came across some unsuccessful scenarios:

When I run:

Everything builds but the container won't finish building because the `interface` app Dockerfile starts the `Django` app and sleeps until a connection to Postgres is established.

[code]

When I run:

Everything builds but I get
[code]
### current state
I am separating the `documen

[2017-09-06 14:35] ask7 commented on #90
@musale Thanks for explaining `restart: always`!

I think it's a good idea to separate the two requirements and configs. Did you also set

`environment:
       - DJANGO_SETTINGS_MODULE=config.settings.local`

? I'm not sure you can simply use the settings files of `interface`, as they reference local directories like `backend`. I tried setting up the `docs/config/settings/...` locally, but ATM it

[2017-09-06 17:50] #18 closed

[2017-09-06 18:49] WGierke commented on #19
Unfortunately, the author didn't respond so far. @reubano you already wrote that the code runs on Windows 64bit with Python 3.5. From where did you receive this information? I'm a bit confused because I found a lot `print` statements in the code that don't have parentheses which would throw errors when running with Python 3.

[2017-09-06 19:13] Serhiy-Shekhovtsov commented on #91
I will take it.

[2017-09-06 23:07] vessemer commented on #2
@reubano, I've noted that the major part of algorithms aimed at nodule candidates' classification has similar pipelines for preprocessing steps. In general, these pipelines can be separated into two stages: global- (lungs-) and local- (nodule-) levels' operations. It's important to uncouple these stages, i.e. it is neither unnecessary nor consistently to apply zero-mean normalization at the local

[2017-09-06 23:24] eltonlaw opened #96 "Double requirement given (sphinx_rtd_theme==0.2.4 and sphinx_rtd_theme==0.1.9)"
## Detailed Description

When running `pip install -r requirements.txt` I get the following issue:

[code]
This stems from the [master `requirements.txt`](https://github.com/concept-to-clinic/concept-to-clinic/blob/master/requirements.txt) file specifying `sphinx_rtd_theme==0.2.4` in line 7 and the file in [`prediction/requirements/local.txt` specifying `sphinx_rtd_theme==0.1.9`](https://github.co

[2017-09-07 07:48] Serhiy-Shekhovtsov commented on #4
I'd like to work on this one.

P.S. btw, is it a good idea to tell when you are working on something?

[2017-09-07 10:17] WGierke commented on #33
@lamby friendly ping :)

[2017-09-07 13:12] reubano commented on #19
@wgierke turns out this one is actually a combination of two repos and it was the 2nd one that I got the info from. Thanks for pointing that out! I've since updated the description.

[2017-09-07 14:12] #91 closed

[2017-09-07 22:29] vessemer opened #98 "Add function that loads MetaImage files"
In the field of low-dose CT, not the only DICOM data format is wildly used, but MetaImage (`.mhd` / `.raw`) is also taken place. The MetaImage is the text-based tagged file format for medical images. As well as the DICOM format, the MetaImage has descriptors along with the raw data.

## Expected Behavior
The `.mhd` / `.raw` files may be read via `SimpleITK`. So `load_itk` should be provided which

[2017-09-08 07:25] lamby commented on #77
Fixed in #81

[2017-09-08 07:25] #77 closed

[2017-09-08 07:27] lamby commented on #2
Merged in #76

[2017-09-08 07:27] #2 closed

[2017-09-09 07:22] lamby commented on #37
Closed in #92! Thanks!

[2017-09-09 07:22] #37 closed

[2017-09-09 07:25] lamby commented on #31
Closed as part of #85

[2017-09-09 07:25] #31 closed

[2017-09-10 08:29] lamby commented on #6
Fixed in PR #97  thanks!

[2017-09-10 14:18] WGierke opened #103 "Adapt Travis badge in Readme to this repo"
Currently, the Travis badge that displays the build state of the latest commit on the master branch belongs to the repository concept-to-clinic/point-platform. It might make more sense that the badge should actually display the Travis state of this repository.
![screenshot from 2017-09-10 16-16-13](https://user-images.githubusercontent.com/6676439/30249781-7417116e-9643-11e7-92f4-c0b5357e2860.png)

[2017-09-10 14:38] WGierke opened #105 "Fix failing tests"
Currently, two tests on the master branch are failing which seemingly has been introduced by PR #97 . It would be nice if the tests would pass again.

## Expected Behavior
All tests pass.

## Current Behavior
2 tests don't pass:
[code]

## Steps to Reproduce
Check the [Travis build of the merge commit](https://travis-ci.org/concept-to-clinic/concept-to-clinic/builds/273792503) or
1. `git reset ori

[2017-09-10 17:00] WGierke opened #106 "Fix and refactor npm build process"
Currently, when attempting to build the new npm front-end, I'm running into a few issues. Firstly, it's not enough anymore to run `docker-compose -f local.yml build && docker-compose -f local.yml up` like it's said by the documentation. Now, one also needs to run `npm install` and `npm run build` manually in the `frontend` directory. Without these commands, the front-end could not be served. Unfor

[2017-09-10 20:10] antonow commented on #106
@WGierke, the issue with no content appearing is not your fault. When I started working on the frontend build process, I made a recommendation to serve all pages (other than the initial application load) through Vue, which @isms seemed to agree with [here](https://github.com/concept-to-clinic/concept-to-clinic/issues/6#issuecomment-325644418). In the meantime, you were completing issues using a di

[2017-09-11 06:40] #27 closed

[2017-09-11 06:42] #103 closed

[2017-09-11 06:45] #24 closed

[2017-09-11 09:31] #15 closed

[2017-09-11 10:55] #20 closed

[2017-09-11 11:09] WGierke commented on #106
@antonow Thanks for the clarification! Sorry, I did not notice that conversation.
So it might make sense to file a new issue about porting the front-end we already had with Django templates to Vue (@isms @lamby @reubano )? Otherwise, the implementation of the remaining front-end issues #30 #33 #34 might become problematic

[2017-09-11 17:47] WGierke commented on #19
@reubano I guess this one can be closed?

[2017-09-11 19:09] tdraebing commented on #98
I would start working on that. Are there any image files in those formats in the larger data set that will be used for model training/testing later on that could be used for tests? Else I would try to find some.

[2017-09-11 19:42] reubano commented on #19
@wgierke nice catch!

[2017-09-11 19:42] #19 closed

[2017-09-11 20:03] isms commented on #106
@WGierke @antonow The pages should be adapted from Django templates to pages in the Vue app which interact with the backend API. The functionality should be broken down into Vue components.

I'm working on a fix now which corrects a number of problems introduced by changes to the `interface` Dockerfile (e.g. wrong Python version, 2.7 by default in Ubuntu 16.04 image.

[2017-09-11 21:22] isms commented on #86
I don't think this is a best practice. The Vue way to handle this would be to have an error notification component that only shows up when there is an error message in some given piece of state.

Closing.

[2017-09-11 21:22] #86 closed

[2017-09-11 21:27] isms commented on #105
These failing tests are both out of date as of 5ac1dee40bd89f08b612fb9678b02c01d9ad121c.

@WGierke Thanks for opening this! It's helpful to have open issues for bugs, however having multiple unrelated bugs in the same issue makes this extremely hard for contributors to track. Just a meta-note to help us all stay sane - in the future, (1) significant bugs should get their own issues, but (2) a fail

[2017-09-11 21:29] #105 closed

[2017-09-11 21:43] isms opened #109 "Broken test: dicom.errors.InvalidDicomError in interface"
The `backend.images.tests.SmokeTest` test is broken.

## Expected Behavior
The test should pass.

## Current Behavior
Stack trace:
[code]

## Steps to Reproduce
1. Pull master branch and rebuild container.
2. Test `interface` with `sudo docker-compose -f local.yml run interface /test.sh`

[2017-09-11 21:45] isms commented on #96
Thanks for reporting! Closed by fc898d495b85182f02432753f44d8ff0a4302c08, but the documentation is still broken per #90, though this represents a bit of progress in untangling requirements.

[2017-09-11 21:45] #96 closed

[2017-09-11 21:46] isms commented on #90
As of fc898d495b85182f02432753f44d8ff0a4302c08 the requirements have been untangled, but somebody needs to take a look at the actual building part and decide where the logic should live.

[2017-09-12 00:58] antonow opened #110 "Port existing pages to frontend Vue project"
Before the base Vue app was merged ([PR 97](https://github.com/concept-to-clinic/concept-to-clinic/pull/97)), several frontend pages were developed and merged. These pages were being served from Django. It was later decided that all pages should be served from the single instance of the Vue app (see [here](https://github.com/concept-to-clinic/concept-to-clinic/issues/106#issuecomment-328642670)).

[2017-09-12 01:01] isms commented on #110
Right on - marked as official. Thanks @antonow!

[2017-09-12 02:00] vsoch commented on #109
A lot of images have various bugs that will deem them unreadable (and I'm guessing by the error and suggestion you are using pydicom). Is there any reason you can't set force=True, as suggested by the output?

[2017-09-12 02:06] isms commented on #109
@vsoch Yes and that's probably the right way to go. The current codepath is fragile because it assumes the existence of certain metadata fields.

[2017-09-12 02:31] vsoch commented on #109
Which metadata fields are you concerned about? This error (afaik) mostly triggers due to the metadata of the file, not header fields (as maybe you are referring to?) One of those fields is called the preamble, which mostly serves to identify the file type (eg, DICM). For example, here is the metadata / preamble of a file:

[code]

So if you are needing the preamble (or anything in the file above t

[2017-09-12 02:49] isms commented on #109
Lines like [this] (https://github.com/concept-to-clinic/concept-to-clinic/blob/master/interface/backend/images/models.py#L31) can, I think, fail.

I agree that the pixels matter most, so would like others working on this to double check that  trying to grab other fields can fail gracefully unless those fields are absolutely necessary to record somewhere (e.g. on our DB models for tracking the case

[2017-09-12 02:56] vsoch commented on #109
You could do a dicom.get("PatientId") which will default to None if not present (the Dataset class itself works like a dictionary) and then skip creation. It's very rare for PatientID to be missing, at least for the datasets I've used.

[2017-09-12 06:53] ask7 commented on #1
@pjbull Are there any resources for model training, or should we simply use our local machines and provide the trained model file?

[2017-09-12 11:29] reubano commented on #1
Hi @ask7, in general you can view the repos of the individual algorithms (#18 - #28) for instruction on training the data. There have also been a few PRs (#82, #99, #108) that document the algorithms as well. Once you have a found an algorithm you would like to train, you can then use an [AWS P2 instance](https://aws.amazon.com/ec2/instance-types/p2) to access a GPU. I used this [fast-ai lesson](h

[2017-09-12 20:10] isms commented on #109
@vsoch Thanks for the thoughtful comments - closing this as the original error has been superseded (by new better errors :chart_with_upwards_trend:) but appreciate your expertise on DICOM in the project!

[2017-09-12 20:10] #109 closed

[2017-09-12 20:13] isms commented on #110
Just FYI, @antonow @WGierke (cc @pjbull @lamby @reubano) as of the most recent changes this should be _much_ easier. Still lots to be worked out, but now we have a Vue.js+webpack config that runs a devserver at localhost:8080 which does hot reloading and proxies requests to `/api/[whatever]` to the `interface` container avoiding any need to share templates or mess with CORS.

Please check it out a

[2017-09-13 12:17] dchansen commented on #1
I have adapted the grt123 code to do this and implemented it in my concept-to-clinic repo. The results are not perfect, but certainly much better than nothing.
I am a little unclear what is required beyond providing the basic algorithm.
Should I verify it on the LUNA dataset?
I would also be unable to provide training details, as I am simply using the pretrained model.

Finally, pytorch and tensor

[2017-09-13 15:24] isms opened #111 "Use Django Rest Framework responses consistently"
## Expected Behavior
We shouldn't have `JsonResponse`s in the `backend` API. Let's follow the DRF idioms [1][2].

[1] http://www.django-rest-framework.org/api-guide/responses/
[2] http://www.django-rest-framework.org/tutorial/2-requests-and-responses/

## Current Behavior

[code]

[2017-09-13 15:26] isms commented on #106
Closed by 7ae3c47c32c84994f977b7349221cb1d85300172. Thanks @antonow and @WGierke for looking into this.

[2017-09-13 15:26] #106 closed

[2017-09-13 16:27] WGierke opened #113 "Fix Vue container - Error: Cannot find module 'chalk'"
Currently, when attempting to build the project using `docker-compose -f local.yml build && docker-compose -f local.yml up`, the Vue container dies while trying to build the front-end.

## Expected Behavior
Building and firing up the containers should be enough to let the Vue container serve at http://localhost:8080.

## Current Behavior
Firing up the Vue container fails with `Error: Cannot find m

[2017-09-13 17:22] isms commented on #113
@WGierke Can you delete any `node_modules` folder you have?

One hypothesis is that if those are getting put into the container with the volume mapping (`interface/frontend` on host -> `/app` on the container), they may be overriding the global npm install within the container.

[2017-09-13 17:33] WGierke commented on #113
@isms I deleted all node_modules folders, removed all containers and built them from scratch.
I'm still running into this issue. Can you reproduce it?

[2017-09-13 17:34] isms commented on #113
@WGierke Yes, you're right, thanks for checking. I'm trying to research why the global install isn't working, will report back.

[2017-09-13 19:53] isms commented on #113
@WGierke should be closed by 139d500 - can you check?

[2017-09-13 20:44] WGierke commented on #113
@isms Works like a charm now. Thank you!

[2017-09-13 20:44] #113 closed

[2017-09-13 20:45] isms commented on #113
Thanks for reporting.

[2017-09-14 08:22] #111 closed

[2017-09-14 11:15] WGierke opened #114 "Always pass CSRF tokens when posting with jQuery"
As stated [here](https://github.com/concept-to-clinic/concept-to-clinic/pull/101#discussion_r138825291), it would be nice to automatically add the current page's CSRF token to a POST request by jQuery.

## Expected Behavior
When posting to the API, one is not required to always manually parse the CSRF token from the current page and send it to the backend.

## Current Behavior
One is supposed to g

[2017-09-14 13:00] reubano commented on #1
@dchansen

That's great! At this stage we're not looking at performance. Just for a working implementation.

Should I verify it on the LUNA dataset? I would also be unable to provide training details, as I am simply using the pretrained model.

There are essentially 3 requirements

1. the model / algorithm
2. training details
3. proof it works

(1) seems covered. For (2), you would need to provide

[2017-09-15 07:46] rahit opened #116 "small DICOM test images no longer managed in git"
As of #95, DICOM images in `tests/assets/test_image_data/small` were moved from `git-lfs` directly to `git`. They now appear to be included in `git-lfs`.

## Expected Behavior

DICOM images in `tests/assets/test_image_data/small` should be directly managed `git`

## Current Behavior

DICOM images in `tests/assets/test_image_data/small` are linked via `git-lfs`

## Possible Solution

This appears t

[2017-09-15 07:53] WGierke commented on #116
Hey @rahit could you give a complete piece of code that throws the error, please? That would make it a bit easier to reproduce the error I think :)

[2017-09-15 07:57] #30 closed

[2017-09-15 07:59] #23 closed

[2017-09-15 08:07] rahit commented on #116
[code]

[2017-09-15 08:28] rahit commented on #116
@WGierke  I think it is my fault. read_file is not raising the error. I am calling `repr(ds)` after which is producing the error. However, I can not load image using [ImageJ](https://apps.ubuntu.com/cat/applications/imagej/)

[2017-09-15 08:50] rahit commented on #116
Here what I am trying to do.
[code]

Simple loop:
[code]

[2017-09-15 10:59] reubano commented on #13
Closed via #78

[2017-09-15 10:59] #13 closed

[2017-09-15 11:06] reubano commented on #116
Thanks for the report. I'm looking into it.

[2017-09-15 12:22] reubano commented on #116
I've confirmed...

[code]

[code]

[code]

[code]

So it appears to be a bug introduced by commit [#740af48](https://github.com/concept-to-clinic/concept-to-clinic/commit/740af48fc8fc248fa47242f3e0ea39db081cb71b) from #76. I suspect the culprit is [somewhere here in `.gitattributes`](https://github.com/concept-to-clinic/concept-to-clinic/pull/76/files#diff-fc723d30b02a4cca7a534518111c1a66)

[2017-09-17 07:36] Serhiy-Shekhovtsov commented on #4
Hi @reubano! I've fixed few issues on pre-processing part and managed to have it running successfully and giving the same result as original code. These changes have been pushed now.
Now I am looking into detection part, but encountered this issue:

Does it really take this much memory or is it an issue with environment \ code?

[2017-09-17 08:40] Serhiy-Shekhovtsov commented on #1
Hi @dchansen, I am working on a related issue: adapting grt123 model(#4). You said you already did that, where can I check your code? Also, if the adaptation is done, I guess we can close the #4.

[2017-09-17 17:47] dchansen commented on #1
My code is available at https://github.com/dchansen/concept-to-clinic
Note that it is only the first part (identification) and not the second part. I will try to iron out the last bugs and have a pull request ready tomorrow.

[2017-09-17 22:36] isms commented on #114
Why are we posting with jQuery?

[2017-09-18 00:38] vessemer commented on #98
As far as I saw no changes for more than the week, I've created a pull request.

[2017-09-18 02:05] vessemer opened #120 "Lung Segmentation"
Prior to stages [#1](https://github.com/concept-to-clinic/concept-to-clinic/issues/1), [#2](https://github.com/concept-to-clinic/concept-to-clinic/issues/2), and [#3](https://github.com/concept-to-clinic/concept-to-clinic/issues/3), CT scans must be preprocessed. Preprocessing involves various steps such as clipping by value, rescaling, and magnitude normalization. The fact that many of the top so

[2017-09-18 13:26] tdraebing opened #121 "Use SimpleITK to load DICOM-images"
## Expected Behavior

DICOM-images and -series should be loaded using the `SimpleITK`-package.

## Current Behavior

Currently DICOM-images are loaded into memory by using `pydicom` and `dicom-numpy` in `load_dicom.py`. A pull request (#119) is on its way to load mhd-images with SimpleITK. To reduce dependencies and make the code easier to maintain, SimpleITK should be used to load DICOM-images as

[2017-09-18 15:10] vlavorini opened #123 "AttributeError: module 'src.algorithms.classify' has no attribute 'trained_model'"
I'm using the official Docker development configuration. I only cloned repository, set up the docker environment (copy-paste from the instructions), and opened the page at localhost:8001

I expected to see the sort of welcome page, but I saw just the debugger page, with the error you read in the title.

A possible solution:
In the file:
concept-to-clinic/prediction/src/views.py
change two rows:

#

[2017-09-18 15:31] WGierke commented on #123
Thanks for filing the issue @vlavorini . I think I resolved it by adding the missing content to `__init__.py`, which has been added for the identify and segment algorithm folders but not for the classify one. Can you pull my branch `123_attribute_error` and verify whether it works for you there as well?

[2017-09-18 19:16] reubano commented on #4
@Serhiy-Shekhovtsov

That's great! Nice job!

I'm afraid i don't know the answer to that one. Do you get the same error when running the base repo?

[2017-09-18 21:58] reubano commented on #120
Thanks for this @vessemer. The links you provided were very informative! I learned quite a bit just gleaming through them. My initial thought is, how much of this should be handled by #3 vs common functions that would be shared across #1, #2, and #3?

[2017-09-18 22:26] VictorArias24 commented on #123
very thanks @vlavorini This was my problem hours ago.

[2017-09-18 23:16] vessemer commented on #120
@reubano, I guess you're right, it'll be convenient to place the lung segmentation method inside the `segment` directory. For now, the project has been structured in such a way that all `algorithm`'s subdirectories contain `trained_model.py`. Perhaps, it's worth to reform the `segment` part, so that latter will contain `lungs`, `nodules`  or something similar. Since all stages performed prior to t

[2017-09-19 00:29] #123 closed

[2017-09-19 06:35] #98 closed

[2017-09-19 10:42] reubano commented on #123
Is there a typo somewhere in the docs? If so, mind submitting another issue about it? Thanks!

[2017-09-19 11:21] reubano commented on #121
Is there anything that the `pydicom` / `dicom-numpy` duo can do that can't (easily) be done with `SimpleITK`? From briefly looking over the docs, `SimpleITK` appears to be a bit more verbose and less pythonthic.

[code]

vs

[code]

I also found `pydicom`'s docs a bit more comprehensive / easier to understand.

Thoughts?

[2017-09-19 13:46] reubano commented on #120
Well, we can add appropriately named functions, e.g., `lung_affine_segmentation` (or whatever would be appropriate). If the `trained_model.py` file get's too large, we can always split it into 2 files later on.

[2017-09-19 13:56] WGierke opened #126 "SimpleITK: "Unable to determine ImageIO reader for ..." during local pytest"
When running the tests locally, I'm getting 4 failed tests due to a RuntimeError in SimpleITK (on the current master).

## Expected Behavior
The tests should pass.

## Current Behavior
4 tests fail due to SimpleITK:
[code]

## Steps to Reproduce
1. `git fetch --all`
2. `git reset --hard origin/master`
3. `sudo git clean -x -i -d`
4. `sudo docker-compose -f local.yml build && sudo bash tests/test_d

[2017-09-19 14:00] dchansen commented on #4
I have the full model adapted for Python3 in the pull request at https://github.com/concept-to-clinic/concept-to-clinic/pull/122

The Nodule identification part is extremely memory hungry. Be sure to enable the volatile setting on the Variables, and reduce the chunk size in the SplitComb.

[2017-09-19 14:11] vlavorini opened #127 "Typo in the issue template"
In the checklist t the end of the template, the first comma mention 'local.py', while it should be 'local.yml'.

## Checklist before submitting
- [x] I have confirmed this using the officially supported Docker Compose setup using the `local.py` configuration and ensured that I built the containers again and they reflect the most recent version of the project at the `HEAD` commit on the `master` br

[2017-09-19 18:17] Serhiy-Shekhovtsov commented on #4
Yes.

Great!

[2017-09-19 19:17] vessemer commented on #126
This bug has been occured because SimpleITK can't read the file (obviously), and my initial thought was that the problem is related to the broken `.mhd` file, but since it runs well on both my computers with the different environments and on Travis as well, then I've become confused. May it be because you didn't rerun dockerd and it tries to preserve its previous paths?

[2017-09-20 09:47] WGierke commented on #126
Thanks for trying to reproduce it @vessemer . The tests work at another computer of mine, but my main tower is still having troubles. I `chown`ed everything to my user, restarted `dockerd` and deleted all images and containers. No success so far :/ I'm currently cloning the repository to a new location so I can test it there again. If the tests still fail, I'll re-install docker.

[2017-09-20 11:31] WGierke commented on #126
Re-cloning the repository "solved" it. What the heck. But thanks for your input @vessemer !

[2017-09-20 11:31] #126 closed

[2017-09-20 11:39] reubano commented on #4
@Serhiy-Shekhovtsov did @dchansen recommendations help you out?

[2017-09-20 15:27] Serhiy-Shekhovtsov commented on #4
I didn't check it yet.

[2017-09-20 15:56] isms opened #130 "Continuous improvement of centroid predictive models (see #1)"
## Overview

We want to continuously improve the accuracy and reliability of models developed for nodule identification. This is a continuation of #1 and will remain open indefinitely.

**Note:** Substantive contributions are currently eligible for increased point awards.

Design doc reference:
[Jobs to be done > Detect and select > Prediction service](https://concept-to-clinic.readthedocs.io/en/l

[2017-09-20 15:57] isms opened #131 "Continuous improvement of nodule classification models (see #2)"
## Overview

We want to continuously improve the accuracy and reliability of models developed for nodule classification. This is a continuation of #2 and will remain open indefinitely.

**Note:** Substantive contributions are currently eligible for increased point awards.

Design doc reference:
[Jobs to be done > Detect and select > Prediction service](https://concept-to-clinic.readthedocs.io/en/l

[2017-09-20 16:00] isms commented on #114
Hi @WGierke, looks like we have a way forward with the jQuery issues (i.e. using Vue instead) and that the [CSRF discussion](https://github.com/concept-to-clinic/concept-to-clinic/pull/101#issuecomment-330028424) is separate.

Any objections to closing?

[2017-09-20 16:02] WGierke commented on #114
No, thanks.

[2017-09-20 16:02] #114 closed

[2017-09-21 07:48] #90 closed

[2017-09-21 08:04] #1 closed

[2017-09-22 06:55] Serhiy-Shekhovtsov commented on #4
@dchansen I am getting this error when trying to checkout your repo:

Any ideas what is it and how to solve it?

[2017-09-22 07:38] tdraebing commented on #121
SimpleITK as a port from C/C++ is for sure not really pythonic and accessing metadata is for sure a pain having to use the encoded tags. My idea was to keep the number of dependencies small and to be more consistent in what packages we use for the tasks.
Also SimpleITK uses C in the backend as far as I understand and might therefor be faster. Although this might be more important if we would use i

[2017-09-22 08:13] dchansen commented on #4
It was an error on my side. It's fixed in the repo now.

[2017-09-22 08:18] Serhiy-Shekhovtsov commented on #4
Thanks, now I can pull it.

[2017-09-22 08:33] WGierke commented on #120
@reubano Why has this been closed? Should I discard PR #133 now?

[2017-09-22 08:36] reubano commented on #120
@WGierke hmm, it looked to me like #132 addressed it. Was I mistaken?

[2017-09-22 09:06] WGierke commented on #120
@reubano To me it looks like PR #132 is not directly connected to this issue as the PR is more about implementing ways to distort input data to artificially generate more data to train on. The sentence that references this issue (`The aforementioned pipeline mainly consists of Hounsfield scaling, lungs segmentation (#120), CT re-orientation and a batch of trivial, yet resource consumptive spacial

[2017-09-22 10:31] reubano commented on #121
In this case, I feel like the pro of removing a dependency don't outweigh the con of enforcing a less pythonic library.

Don't worry about that right now. For the MVP, we aren't really worrying about speed. Be on the lookout however, as we may want to start benchmarking and optimizing later on (at which point we can reopen this issue).

[2017-09-22 10:31] #121 closed

[2017-09-22 10:36] reubano commented on #120
@WGierke good point... it doesn't look like that one does actually segmentation.

[2017-09-22 12:34] WGierke opened #134 "Global CSRF Protection"
This issue is a follow-up of the discussion from [here](https://github.com/concept-to-clinic/concept-to-clinic/pull/101#issuecomment-330208795).

[Cross-Site Request Forgery (CSRF) is an attack that forces an end user to execute unwanted actions on a web application in which they're currently authenticated.](https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)) As a defensive measure,

[2017-09-22 13:41] isms commented on #134
Concur that CSRF is an open question, but before we move forward some thoughts:

### Status quo = we actually are using CSRF tokens

The issue says:

... but that's not really true. The backend (final arbiter of any requests) is currently using and will currently insist on CSRF tokens for `PUT`, `POST`, `PATCH` because the `CsrfViewMiddleware` [is installed](https://github.com/concept-to-clinic/co

[2017-09-23 08:20] #34 closed

[2017-09-23 08:22] lamby commented on #134
Agree it's somewhat out of scope but turning it all off makes it somewhat un-Djangoey and possibly likely to scare people away in terms of "oh they clearly don't really care about the code quality at all."

Otherwise it seems quite quick to implement so on balance I would say we go ahead and commit this.

[2017-09-24 04:15] antonow opened #136 "Serve frontend app from Django for production and production testing"
For production and testing for production locally, we will want to serve the frontend app index page located at `interface/frontend/templates/index.html` for requests to `'/'` on the Django server.

## Expected Behavior
Visiting `'/'` at `localhost:8000` renders the compiled frontend app.

## Current Behavior
At the moment, visiting `'/'` at `localhost:8000` yields a `404`.

## Possible Solution
A

[2017-09-24 07:42] #28 closed

[2017-09-25 18:01] vessemer commented on #120
My excuses for a delay, was in a bad condition last week.
Thanks for the PR [#133](https://github.com/concept-to-clinic/concept-to-clinic/pull/133), @WGierke!
For sure you're right about the PR [#132](https://github.com/concept-to-clinic/concept-to-clinic/pull/132), I've designed it in order to deal with resource consumptive 3D manipulations. This code doesn't include lungs segmentation in any kin

[2017-09-25 19:56] reubano commented on #120
Great observation @vessemer! Do you mind creating an issue with this info? I think it would make a great enhancement that someone can focus on in one of the later milestones.

[2017-09-26 08:58] #120 closed

[2017-09-26 11:46] reubano opened #137 "3D data augmentation"
## Overview

The majority of the solutions to #1, #2, #3 have similar augmentation pipelines (e.g. grt123, Therapixel, Daniel Hammack, etc.). These pipelines mainly consists of Hounsfield scaling, lung segmentation (#120), CT re-orientation, and other resource consumptive spacial operations such as zoom, rotate, shear, shift, flip, etc.

While the Keras DataGenerator can yield a processed patches

[2017-09-26 11:49] #137 closed

[2017-09-26 13:56] vessemer opened #138 "Lungs Segmentation | long term"
The initial lungs segmentation method has been provided by the PR [#133](https://github.com/concept-to-clinic/concept-to-clinic/pull/133) due to the issue [#120](https://github.com/concept-to-clinic/concept-to-clinic/issues/120). The provided approach, however, can be further improved e.g., by reducing its trend to false positives and made the algorithm more stable. Furthermore, the ability to cor

[2017-09-26 14:45] vessemer commented on #120
Cool, I've opened a new issue [#133](https://github.com/concept-to-clinic/concept-to-clinic/issues/138) dedicated to anatomical structures segmentation for the later milestones.

[2017-09-26 20:24] isms commented on #136
One note - the `vue` devserver is now **the one true way** to look at the frontend when developing locally. I want to make sure we don't get confused about "production" for this app — almost every meaning of that word is out of scope and we should not waste time on that.

That being said, there is still value in getting a pipeline set up so that Django can serve the built frontend script.

For pos

[2017-09-28 07:49] lamby commented on #33
Fixed in #117!

[2017-09-28 07:49] #33 closed

[2017-09-29 10:50] #4 closed

[2017-09-30 07:25] lamby commented on #21
Fixed in #141

[2017-09-30 08:18] WGierke commented on #138
Yep, we're definitely supposed to refine the lung segmentation. Have a look at e.g. patient 0001 and the nodule at 315.04852321,  365.87447257, -116.12078059 (slice ~91):
![screenshot from 2017-09-30 10-12-50](https://user-images.githubusercontent.com/6676439/31044067-217e7ba6-a5c8-11e7-8644-7db092746b47.png)
It's state is labeled as solid, which isn't included in the current lung segmentation:
![

[2017-09-30 08:42] WGierke opened #143 "Segmentation Evaluation"
As discussed in #142, to facilitate evaluating predicted segmentation images, it would make sense to implement metrics that compare the predicted images with the ground truth in order to compare approaches more efficiently.
Some measures/distances that should at least be considered for this are sensitivity, specificity, Dice coefficient and Hausdorff distance. [The Multimodal Brain Tumor Image Seg

[2017-09-30 15:56] Serhiy-Shekhovtsov opened #144 "Slack workspace"
Guys, what do you think about creating a slack workspace for team communication? Many times when I got into a problem\question I don't know where to put it (forum is not active and github issues probably is not the best place for general questions). Also there is no simple\proper way to reach the person when question is not related to specific issue or pull request.

[2017-09-30 16:09] Serhiy-Shekhovtsov opened #145 "Import image series"
I can't find how to import images for opening. Is this feature implemented? If it's not - is there a workaround for importing?

## Expected Behavior
User should be able to import images displayed in "Import image series" section.

## Current Behavior
There is tree view for browsing file system, but there is no way to select and import file\folder.
![image](https://user-images.githubusercontent.com

[2017-09-30 21:18] WGierke commented on #21
@lamby Is there still anything missing to fulfill the issue? Otherwise it could be closed I guess? :)

[2017-09-30 21:19] WGierke commented on #26
@lamby same here - is something preventing this issue from getting closed? :)

[2017-10-01 07:34] lamby commented on #143
Closed in #146 … thanks!

[2017-10-01 07:34] #143 closed

[2017-10-02 22:41] reubano commented on #144
That's a great idea.. there's also gitter which i've noticed a lot of open source projects use. I'll bring this up to the rest of the team.

[2017-10-02 22:44] reubano commented on #21
Thanks for the heads up @WGierke!

[2017-10-02 22:44] #21 closed

[2017-10-02 22:46] #26 closed

[2017-10-03 16:42] vinitajha commented on #144
i have joined this competition, i am unable to download data, can you please advise

[2017-10-03 22:52] reubano commented on #144
@vinitajha which data specifically is causing you trouble?

[2017-10-03 22:59] reubano commented on #144
I see what you mean about the forums. I'll see if there is a way to ensure we get notified about new posts. If that were to happen, would it be sufficient?

[2017-10-04 23:40] louisgv commented on #110
I've read the issue and would like to participate in the refactor.

Which piece of this issue has yet to be worked on?

[2017-10-05 13:39] isms commented on #110
@louisgv Most of this frontend work still remains to be done! Recommend pulling the latest, building the Docker containers, and running the `docker-compose up -f local.yml vue` command to see what's there.

[2017-10-05 20:27] calvernaz commented on #144
Soo, any progress on the slack workspace front? :)

[2017-10-05 20:37] Akryum commented on #6
Using the full power of webpack and Vue is indeed a good idea if possible. The best development experience would be being able to launch the webpack-dev-server locally and proxy the API calls to the backend.

[2017-10-05 21:04] isms commented on #6
Closing, as we now have this for local development. The full building of assets for "production" is being tracked in #136.

[2017-10-05 21:04] #6 closed

[2017-10-05 21:19] isms opened #148 "Vue: implement 'Detect and Select' component(s)"
### This issue will remain open until all the checkboxes are checked! PRs can reference this issue and will get credit even if the whole issue is not yet closed :+1:

Note: split off from #110, interaction with imagery tracked in #179

---

Design doc reference here: http://concept-to-clinic.readthedocs.io/en/latest/design-doc.html#detect-and-select

Mock-up:
![](http://concept-to-clinic.readthedo

[2017-10-05 21:27] isms opened #149 "Vue: implement nodule 'Annotation' UI component(s)"
### This issue will remain open until all the checkboxes are checked! PRs can reference this issue and will get credit even if the whole issue is not yet closed :+1:

Note: split off from #110

---

Design doc reference here: http://concept-to-clinic.readthedocs.io/en/latest/design-doc.html#annotate

Mock-up:
![](http://concept-to-clinic.readthedocs.io/en/latest/_images/wireframe-2-1-annotation-an

[2017-10-05 21:29] isms opened #150 "Vue: implement 'Segmentation' UI component(s)"
### This issue will remain open until all the checkboxes are checked! PRs can reference this issue and will get credit even if the whole issue is not yet closed :+1:

Note: split off from #110

---

Design doc reference here: http://concept-to-clinic.readthedocs.io/en/latest/design-doc.html#segment

Mock-up:
![](http://concept-to-clinic.readthedocs.io/en/latest/_images/wireframe-2-2-annotation-and

[2017-10-05 21:38] isms commented on #59
Considering closing this issue - it's a data-intensive development environment in the best case so this doesn't seem to be blocking anything. Thoughts?

[2017-10-05 21:53] isms commented on #144
Created a gitter for the project here: https://gitter.im/concept-to-clinic (thanks @reubano for suggesting!)

[2017-10-06 14:13] lmiller1990 commented on #148
Hi. I love what the project is looking to achieve and am a great supporter of the cause. I've done a lot of Vue.js, so I'm going to try and start building some of the UI related issues.

[2017-10-06 14:40] isms commented on #148
@lmiller Glad to have you on board! :boat:

[2017-10-06 15:25] louisgv commented on #149
I will start working on this component, a WIP PR will be issued soon.

[2017-10-06 15:58] WGierke opened #151 "Segment nodules: find appropriate training data shape"
We want to automatically segment nodules as described #3 . To train a machine learning algorithm, the model expects a fixed input and output size. This is challenging because on the one hand, the training data, which is represented by CT scans scaled to mm voxels, varies greatly between the different scans so small scaled scans have to be padded appropriately. On the other hand, having training da

[2017-10-08 04:33] AYSH20 commented on #144
[Basecamp](https://basecamp.com/) is another great source for team communication. It has a learning curve but it helps in project management as well.

[2017-10-09 14:55] lmiller1990 commented on #148
Thanks. I'll see if I can get something done in the next few days, got everything up and running plus created some fake data.

Project is still early days - there aren't any models or much else in terms of data set up yet, should I just fake/make it up for now?

[2017-10-09 15:09] stranger26 commented on #148
@lmiller1990 I think you should just fake it, at least that is from what I understand from the 'Mocking data' section.

[2017-10-09 21:29] WGierke opened #152 "Python 3.6: RuntimeError: Click will abort further execution because Python 3 was configured to use ASCII"
`docker-compose build` throws a RuntimeError in the prediction service:

[code]
## Possible Solution
Adding
[code]
as suggested to local.yml seems to fix the problem.

## Steps to Reproduce
`git fetch origin`
`git checkout master`
`git pull`
`docker-compose -f local.yml build`
`docker-compose -f local.yml up`

Can someone reproduce this?

## Checklist before submitting
- [X] I have confirmed this

[2017-10-09 22:54] louisgv commented on #149
@isms How can I obtain need a mock sample json for a nodule?

Or the better question would be the documentation for the json schema that would be used to describe a nodule

The `/api/nodules.json` endpoint is also returning an empty array.

![image](https://user-images.githubusercontent.com/6723574/31361807-307a217a-ad23-11e7-8e83-6e982567ed7f.png)

[2017-10-09 22:57] louisgv commented on #149
Also, it seems to me that there is already a NoduleList component in charge of rendering the list of Nodule to be examine, it is however seems to be lacking most of the UI desired in the mock.

Should I implement those feature as a separate component and attach them to the Nodule.vue component, or should I refactor the Nodule list to render instead an `Annotate` component?

I have

[2017-10-10 22:10] isms commented on #145
This needs to be implemented on the frontend _and_ backend.

[2017-10-10 22:12] #59 closed

[2017-10-10 22:12] #144 closed

[2017-10-10 22:12] isms commented on #144
Thanks for the suggestion @AYSH20! I think we're going to steer clear of adding a bunch more tools into the mix but it's worth thinking about.

[2017-10-10 22:23] isms commented on #149
@louisgv Here's how I can get some data fixtures:

First use the testing fixture factories to create some data in your local database:
[code]

Then run the API:

   docker-compose -f local.yml up interface

And if you go to `http://[IP of your docker, could be localhost]:8000/api/` you can play with the data you just created:

![image](https://user-images.githubusercontent.com/1284973/31413578-f65

[2017-10-10 22:27] isms opened #153 "Add to docs how to generate some JSON data to work with"
I [posted](https://github.com/concept-to-clinic/concept-to-clinic/issues/149#issuecomment-335625985) about how to get some JSON to work with, especially for people focusing on the frontend. This should live in the docs.

Easy points for any Markdown-lovers and/or docs fanatics out there :books:

[2017-10-11 00:49] adrianjoseph commented on #145
I am new to the field of data science (currently completing a Masters Program), but I am very interested in the topic/cause.
ISMS, not sure if your comment is a statement or a question, but I am curious whether the solution should indeed be bounded by delivery of working code or also is a gui/application also needed?

[2017-10-11 01:45] isms commented on #148
@lmiller1990 @stranger26 New info on getting test data [here] - I also opened #153 to publicize this more.

[2017-10-11 01:48] isms commented on #145
@adrianjoseph Not sure I understand the question?

To be clear, I mocked out the Vue component (frontend) for looking through directories to find the folder of imagery we want to import as an `ImageSeries` [model](https://github.com/concept-to-clinic/concept-to-clinic/blob/master/interface/backend/images/models.py#L9-L38) with filesystem location and metadata stored in the database (backend).

Nei

[2017-10-11 02:16] adrianjoseph commented on #145
Ahh

That makes more sense

Appreciate you clarifying - I got my answer.

Let me take a closer look at your code

Thanks

Adrian

[2017-10-11 03:04] louisgv commented on #149
@isms Thank you for the instruction! Can you also take a look at my second question? I quoted them below:

[2017-10-11 03:20] isms commented on #149
@louisgv I'm not sure I understand the specific question, but I guess in general I would say just do it the way that seems best - cleanest, most logical separation of concerns, DRY, etc.

If that means changing out refactoring an existing component, then by all means so so.

[2017-10-11 03:48] louisgv commented on #149
@isms sounds good. I was concerned that the person who initialized the vue project might already have an idea/plan on how to implement this component. But if I can just follow the best practice/standard, then I will be on my way without having to wait for the original architect approval.

[2017-10-12 17:50] reubano commented on #152
Got the same error

[2017-10-12 17:59] isms commented on #152
@reubano @WGierke can you set those two env vars in the Dockerfile and see if it solves the problem? If so they're harmless.

[2017-10-12 18:03] reubano commented on #152
Yes... setting it in `local.yml` solved it.

[2017-10-15 21:45] #152 closed

[2017-10-15 22:35] reubano opened #157 "Give interface backend a home route"
## Overview
Currently, navigating to `http://0.0.0.0:8000/` returns a `404` error.

![screen shot 2017-10-16 at 1 33 29 am](https://user-images.githubusercontent.com/157864/31589968-14d235c2-b212-11e7-9553-8c79db8fa82e.png)

## Steps to Reproduce

1. `docker-compose -f local.yml up interface`
2. `open http://0.0.0.0:8000/`

## Expected Behavior

This url should route to a page listing all the avai

[2017-10-15 22:49] reubano opened #158 "Remove hidden files from Vue frontend"
## Overview
Currently, when you navigate to `http://0.0.0.0:8080/` and click to expand the folders, you see hidden files such as `. DS_Store`.

![screen shot 2017-10-14 at 11 02 12 pm](https://user-images.githubusercontent.com/157864/31590120-c04effa6-b213-11e7-9ce7-50b7aa5a4d3c.png)

## Steps to Reproduce

1. `docker-compose -f local.yml up vue`
1. `open http://0.0.0.0:8080/`
1. Expand the pluses

[2017-10-15 23:10] reubano opened #159 "Make the docker-compose documentation service reuse the caches from prediction and interface"
## Overview
Currently, when running `docker-compose -f local.yml build`, the `documentation` service ignores the caches created by the `prediction` and `interface` services. This results in re-downloading all the python requirements.

## Expected Behavior
The `documentation` service should use the available caches and not re-download any python requirements.

## Technical details

- [Relevant `doc

[2017-10-15 23:28] reubano opened #160 "Update travis tests to catch route errors"
## Overview
Currently, the travis test passes even if some routes are non-functional.

E.g.

- `git checkout 317b8c18`
- `docker-compose -f local.yml build`
- `sh tests/test_docker.sh`  # tests should pass
- `docker-compose -f local.yml up`
- `open http://0.0.0.0:8001/`  # page should error

## Expected Behavior
Travis should test all navigable routes and ensure that they properly function.

## Te

[2017-10-16 09:03] reubano opened #161 "Create __pycache__ removal script"
## Overview
Old `__pycache__` files can interfere with proper running of `docker-compose -f local.yml build` and may even cause the following error:

[code]

There should be a convenient script that can be run to remove all `__pycache__` files.

## Expected Behavior
Running the script should remove all `__pycache__` files.

## Technical details

- [Relevant helper script](https://github.com/reuban

[2017-10-16 09:29] reubano opened #162 "Fix UnhandledPromiseRejectionWarning in Vue frontend"
## Overview
Currently, when running `docker-compose -f local.yml up vue`, the following error appears:

[code]

## Expected Behavior
The error should not occur.

## Technical details

- This feature should be implemented in the [`interface/frontend/src/`](https://github.com/concept-to-clinic/concept-to-clinic/tree/master/interface/frontend/src) folder.

## Acceptance criteria

 - [ ] running `dock

[2017-10-16 10:08] reubano opened #163 "Add .pylidcrc configuration file"
## Overview
Currently, when running `docker-compose -f local.yml up compile_docs`, the following warning appears:

[code]

## Expected Behavior
A `.pylidcrc` with sensible defaults should be added so that the warning does not occur

## Technical details

- [`configuration info`](https://github.com/pylidc/pylidc/blob/master/README.md#dicom-file-directory-configuration).

## Acceptance criteria

 -

[2017-10-16 10:26] reubano opened #164 "Fix documentation compilation ModuleNotFoundErrors"
## Overview
Currently, when running `docker-compose -f local.yml up compile_docs`, the following errors appear:

[code]

CR #90

## Expected Behavior

The `ModuleNotFoundError`s should not occur

## Steps to Reproduce

1. Update master `git pull`
2. Rebuild and run the `compile_docs` container with `docker-compose -f local.yml up --build compile_docs`

## Acceptance criteria

 - [ ] running `docke

[2017-10-16 11:28] reubano opened #165 "Keep docker container size under control"
## Overview

It appears that multiple runs of `docker-compose -f local.yml build` increase the size of the `Data` without removing stale artifacts. My current  `~/Library/Containers/com.docker.docker` folder is over 26GB. There should be a convenient script that can be run to remove all unneeded docker files.

## Expected Behavior
Running the script should remove all unneeded docker files.

## Tec

[2017-10-16 11:58] reubano opened #166 "Reduce complexity of predict_cubes"
## Overview
The [`prediction/src/algorithms/identify/prediction/predict_cubes`](https://github.com/concept-to-clinic/concept-to-clinic/blob/317b8c183a5fab3a25b87160862a2772ef2c86fe/prediction/src/algorithms/identify/prediction.py#L145-L266) function needs to be refactored to reduce its complexity.

## Acceptance criteria

 - [ ] 2 or 3 sub functions should be split off from the `predict_cubes` fun

[2017-10-16 13:29] truefalse10 opened #167 "Use css preprocessor like sass, less..."
The current vue.js setup allows only to write styles in pure css. This can be quite time consuming, error-prone and leads to redundant code. In order to use variables, mixins and all other handy tools I would suggest using a preprocessor. In vuejs this can be easily achieved by installing the preferred webpack [loader](https://vue-loader.vuejs.org/en/configurations/pre-processors.html). My suggest

[2017-10-16 14:00] reubano opened #169 "Refactor prediction MetaData and PreprocessCT usage"
## Overview

[`PreprocessCT`](https://github.com/concept-to-clinic/concept-to-clinic/blob/317b8c183a5fab3a25b87160862a2772ef2c86fe/prediction/src/preprocess/preprocess_ct.py#L56-L112) and [`MetaData`](https://github.com/concept-to-clinic/concept-to-clinic/blob/317b8c183a5fab3a25b87160862a2772ef2c86fe/prediction/src/preprocess/load_ct.py#L109-L159) should to be refactored and their usage made more

[2017-10-16 16:31] WGierke commented on #153
Is there anything left that prevents this issue from getting closed?

[2017-10-16 16:58] #153 closed

[2017-10-16 20:09] jeffreyb92 commented on #145
Fellow person completing a Data Science program, just so I understand what I would need to do to accomplish this, at the moment there is currently no implementation of importing the selected images into the frontend? And would there need to be a conversion of sorts from a dicom image format to something that can be show on the web such as JPG or PNG?

[2017-10-16 23:25] gilcolon71 commented on #165
Hi!

I'm a data science student and I'm very interesting in this topic/solution.  Have you considered using an alpine base image?

[2017-10-17 17:02] kmader commented on #138
As part of the evaluation, the [Luna16](https://luna16.grand-challenge.org/data/) data include right and left segmented lungs with trachea which could serve as a good baseline

[2017-10-17 17:06] louisgv commented on #149
Update: Sorry for the inactivity. Mid-term is coming up so I couldn't work on this issue for the past week. My midterms will be finished by next week so I should be able to resume the implementation and submit the PR before the end of the month.

[2017-10-17 17:15] kmader commented on #19
Don't want to re-open a closed issue, but we are also working on getting some of the DSB models working and have forked this repository and invested some time in getting the keras1.2 model into a standard keras2 model and extracting the py2.7 code and getting it work with py3.5 (https://github.com/4Quant/DSB2017/blob/master/ApplyModel.ipynb). It is quite a hacky bit of work to extract cleanly the

[2017-10-18 00:40] louisgv commented on #149
Some progress:
![image](https://user-images.githubusercontent.com/6723574/31695922-6e8db270-b37b-11e7-97f1-7c90bbb55a0b.png)

[2017-10-18 02:22] adrianjoseph commented on #145
I believe so, but I don't necessarily think that it has to be in a JPG or PNG

[2017-10-18 03:04] isms commented on #145
@jeffreyb92 @adrianjoseph Hey, welcome! Just to be clear, the "import image series" has more to do with creating records in the database that keep tracks of images on the filesystem (`ImageSeries` database model) and then the clinical diagnosis that is based on the imagery (`Case`).

Other issues like #148, #149, and #150 are definitely going to need to render DICOM imagery into a web-friendly for

[2017-10-18 03:55] louisgv commented on #149
Looks slicker now:
![image](https://user-images.githubusercontent.com/6723574/31700347-a80d335c-b396-11e7-92a7-104f0482bb8f.png)

[2017-10-18 04:39] louisgv commented on #149
@isms PR submitted. Due to the json for each nodule does not include the data found in the annotation editor, I simply post what I have. Tweaking them should be no problem at all when the backend is solidified.

[2017-10-18 12:37] lamby commented on #162
Fixed! Thanks!

[2017-10-18 12:37] #162 closed

[2017-10-18 17:32] swederik commented on #148
Cool project! Looks like you guys could build this piece with Cornerstone pretty easily. Here are some links that might help:

Image tools: https://rawgit.com/chafey/cornerstoneTools/master/examples/allImageTools/index.html
Stack Scroll tool: https://rawgit.com/chafey/cornerstoneTools/master/examples/stackScroll/index.html
Crosshairs: https://rawgit.com/chafey/cornerstoneTools/master/examples/cros

[2017-10-18 17:35] swederik commented on #150
In Cornerstone Tools (https://github.com/chafey/cornerstoneTools) we have an ROI tool that could be a good starting point for building the nodule boundary selection tool:
https://rawgit.com/chafey/cornerstoneTools/master/examples/freehandRoi/index.html

[2017-10-18 18:03] jjjmm commented on #158
wouldn't it be better to filter directories in the interface backend, before sending them to the frontend?

[2017-10-19 13:11] lamby commented on #169
Thanks!

[2017-10-19 13:11] #169 closed

[2017-10-19 13:13] lamby commented on #149
Merged :)

[2017-10-19 14:21] jjjmm commented on #150
i am planning to start implementing this component on this weekend, if no one wants to start earlier

[2017-10-19 19:06] isms commented on #149
Reopening - many of the checkboxes are not actually finished.

[2017-10-19 21:25] jjjmm commented on #150
@isms I have a question about Segmentation component. Should it be in the sync with Annotate component? When nodule in Annotate selected, should it be also selected in Segmentation component? If so, could i put both Annotate and Segmentation components under the same Nodule (as on added picture)? If i understood correctly, both components represent data of same nodule ![segmentation](https://user-

[2017-10-19 21:59] isms commented on #150
@jjjmm Yes, they should be in sync, the segmentation screen on the right is showing the same nodule so that the radiologist can see what they are annotating and validate or redraw the predicted borders.

Thanks for asking!

[2017-10-20 08:32] reubano commented on #165
Hi @gilcolon71, while switching to a smaller base image like alpine can definitely be useful, that's more of a peripheral concern. I think https://github.com/docker/for-mac/issues/371 does a better job of explaining the key issue.

[2017-10-20 08:40] reubano commented on #19
@kmader you may want to [take a look here](https://github.com/concept-to-clinic/DSB2017/tree/conversion) for some inspiration. Also, see #4 and #122.

[2017-10-20 08:56] reubano commented on #158
Good idea @jjjmm! I've added the backend label as well now.

[2017-10-20 11:52] jjjmm commented on #158
@reubano btw, is there any instructions, how can i debug interface-backend in docker?

[2017-10-20 13:58] louisgv commented on #148
Is this issue being worked on? If not I will be looking at implementing it next week.

[2017-10-21 12:37] lamby commented on #166
Merged!

[2017-10-21 12:37] #166 closed

[2017-10-21 15:00] reubano commented on #158
@jjjmm try `docker-compose -f local.yml up --build interface`

[2017-10-21 18:59] antonow commented on #148
Where can we find some sample DICOM image data? I didn't see anything in the developer documentation. Should we just pull from the internet for now?

[2017-10-22 03:35] louisgv commented on #148
@antonow are you working on this component?

[2017-10-22 04:05] adrianjoseph commented on #145
Thanks....I have been spending a fair bit of time trying to understand VTK and working with DICOM to create visual utilities.

Given how you have described this thread, I feel like I need to look at  #148, #149, and #150 some more/instead. Thanks for clarifying before I got too deep in this

[2017-10-22 13:19] adrianjoseph commented on #160
Hi Reubano,
What are you looking for when you say that the pages should be "tested"? In other words, what qualifies as "tested"? Also, what is a "travis test"

From what I can see:
http://0.0.0.0:8000/ - Has a 404 page not found error
http://0.0.0.0:8001/ - Gets a "ERR_CONNECTION_REFUSED" error
http://0.0.0.0:8080/ - This page loads and it seems you can see a drill down of a set of related fil

As

[2017-10-22 13:50] lamby commented on #158
Merged :)

[2017-10-22 13:50] #158 closed

[2017-10-22 15:10] vessemer commented on #22
Seems that [repo-link](www.cis.pku.edu.cn/faculty/vision/wangliwei/software.html) became outdated and quick search doesn't provide the answer for me.

[2017-10-22 15:26] isms commented on #148
@antonow Check out the `/tests/assets` directory for example imagery.

[2017-10-23 09:49] vessemer commented on #25
Is there something else left that prevents this issue from getting closed?

[2017-10-23 09:50] vessemer commented on #157
Is there something else left that prevents this issue from getting closed?

[2017-10-23 10:15] #25 closed

[2017-10-23 10:15] reubano commented on #25
nope... thanks for the reminder

[2017-10-23 10:16] reubano commented on #157
nope... thanks for the reminder

[2017-10-23 10:16] #157 closed

[2017-10-23 19:59] isms opened #177 "API actions that change DB state should be POST/PATCH/PUT - not GET"
Examples include the `interface.backend.api.views.candidate_mark` and `interface.backend.api.views.candidate_dismiss`.

[2017-10-23 20:04] isms opened #178 "API actions that change database state should return updated instance data"
Examples include the `interface.backend.api.views.candidate_mark` and `interface.backend.api.views.candidate_dismiss`.

Right now they return a one-off response payload, e.g.

[code]

It's better for Vue usage if we instead just return the newly updated, serialized `Candidate` to be redisplayed, and the `200 OK` status code tells us we successfully updated the object.

[2017-10-23 20:14] isms opened #179 "Vue: reusable Javascript DICOM image viewer component"
Splitting this off from #148 and #150.

### **Note:** Proofs of concept with a specific library will be in a position to receive points for this even if a different way of doing it is ultimately selected. These add value to the project by giving other contributors a reference point for how this may be done.

We need to be able to show DICOM imagery in an interactive way. There are existing librari

[2017-10-23 20:20] isms opened #180 "CSS/HTML template: adjust `container` margins to give more screen real estate"
We want some more room to work with:
![image](https://user-images.githubusercontent.com/1284973/31911268-ee12fe24-b7f4-11e7-9f34-f917c213b370.png)

[2017-10-23 20:23] isms commented on #179
@swederik Any interest in taking a crack at this?

[2017-10-23 20:40] WGierke commented on #159
A friend of mine proposes that we should build our own base image which is based on the union of the pip requirements. Those, the base image is only supposed to be compiled once. If services use different versions of a library, they have to install them themselves after the base image was created. Just throwing in my two cents :)

[2017-10-23 20:42] isms opened #181 "Add fields to `Case` and `Nodule` models based on RadReport template"
RadReport defines industry best practices for what information should be recorded on a lung cancer screen. Some are specific to the overall image series (the `Case` model) and some are specific to each nodule (the `Nodule` model).

## Expected Behavior
Appropriate new fields on appropriate models with the migrations that implement them.

## References
[1] Design doc - http://concept-to-clinic.read

[2017-10-23 20:43] isms opened #182 "Vue: implement results mockups under 'Report and Export' screen"
**This depends on #181 for actual database models to be updates - until then these fields can simply be mocked.**

![image](https://user-images.githubusercontent.com/1284973/31911878-eebf37a0-b7f6-11e7-89a9-87282c3432c7.png)

See design doc: http://concept-to-clinic.readthedocs.io/en/latest/design-doc.html#results

[2017-10-23 23:09] antonow commented on #148
@louisgv I was thinking about it, but no I am not currently working on this.

[2017-10-24 08:49] #3 closed

[2017-10-24 09:11] louisgv commented on #182
I can take a look at this

[2017-10-24 09:22] louisgv commented on #148
@antonow I will be tackling #182 then, since you probably got a plan to get this done. (I've not give it any thought yet :p )

[2017-10-24 09:23] louisgv commented on #182
I can take a look a this!

[2017-10-24 10:03] swederik commented on #179
I don't have the time at the moment, sorry.

[2017-10-24 10:31] jjjmm commented on #179
@isms i could give it a try, since it is within scope of #150

[2017-10-24 12:34] lamby commented on #22
Merged :)

[2017-10-24 12:34] #22 closed

[2017-10-24 12:35] lamby commented on #180
Merged, thank you!

[2017-10-24 12:35] #180 closed

[2017-10-24 12:36] lamby commented on #164
Merged - thanks!

[2017-10-24 12:36] #164 closed

[2017-10-25 07:15] reubano commented on #160
Hi @adrianjoseph [these are the travis tests](https://travis-ci.org/concept-to-clinic/concept-to-clinic). It runs the tests [in this file](https://github.com/concept-to-clinic/concept-to-clinic/blob/master/tests/test_docker.sh). So by "the pages should be tested", I mean that if you checkout commit `317b8c18`, the travis tests should fail since not all the routes work. Does that make sense?

[2017-10-25 12:25] reubano opened #187 "Segmentation doesn't work across all valid nodules"
## Overview

The nodules specified in #142 error when used in #147's `predict` function.

## Expected Behavior

The `predict` function should return a value without erroring

## Technical details

`cd prediction`

[code]

- This feature should be implemented in [`trained_model.py`](https://github.com/concept-to-clinic/concept-to-clinic/tree/master/prediction/src/algorithms/segment/trained_model.py

[2017-10-25 12:29] jjjmm commented on #179
@isms [DICOM web viewer](https://ivmartel.github.io/dwv/) is under GNU GPL 3 license. Does it mean, that we can't use it in this project, since it is under MIT license?

[2017-10-26 07:55] lamby commented on #181
Merged in #185.. thanks!

[2017-10-26 07:55] #181 closed

[2017-10-26 11:16] reubano opened #191 "Nodule identification doesn't work"
## Overview

The nodule Identification `predict` function errors

## Expected Behavior

The `predict` function should return a value without erroring

## Technical details

`cd prediction`

[code]

This error first appears in commit [#c448e44](https://github.com/concept-to-clinic/concept-to-clinic/commit/c448e44c65eb49a12baf1731f273f118d34f0bbf)

Prior to this, it gave a `Torch: not enough memory:

[2017-10-26 16:03] isms commented on #179
@jjjmm Good point: GNU GPL 3 not compatible with MIT. I'll scratch that.

[2017-10-26 20:34] #116 closed

[2017-10-27 16:07] damah commented on #161
@reubano i found some solutions on stack overflow (https://stackoverflow.com/questions/28991015/python3-project-remove-pycache-folders-and-pyc-files)
you can try.  two solutions by @ Gamula looks straightforward but looks like a manual approach. @ SalientGreen recommends using py3clean from python3-minimal  package seems nifty. But it looks like its only available on Debian OS. Or use  Pycleaner.

[2017-10-30 07:45] #179 closed

[2017-10-30 09:01] #182 closed

[2017-10-30 14:54] reubano opened #195 "Stop slow tests after a set timeout period, instead of skipping them"
## Overview

As made evident by #191, skipping slow tests potentially hides bugs. These test should instead be stopped after a set period of time, e.g. ~15s, to ensure they don't cause errors.

## Expected Behavior

The identification tests should fail on travis even when `RUN_SLOW_TESTS` isn't set to `true`.

## Technical details

The desired behavior should be able to be accomplished by combinin

[2017-10-31 05:39] reubano commented on #161
@damah, thanks for the link. This looks like a good candidate:

`find . -type d -name __pycache__ -exec rm -r {} \+`

[2017-11-01 21:21] lamby opened #198 "Correct case of links in documentation sidebar"
On: https://concept-to-clinic.readthedocs.io/

## Current Behavior
[](https://i.imgur.com/djeE94L.jpg) (https://i.imgur.com/djeE94L.jpg)

## Expected Behavior
"Interface" and "Prediction" (ie. title case, not all lower case)

## Steps to Reproduce

1. https://concept-to-clinic.readthedocs.io
2. Scroll to bottom of navigation

## Checklist before submitting
- [ ] I have confirmed this using the off

[2017-11-01 21:24] WGierke commented on #198
( :+1: for the first-pr-only label)

[2017-11-02 07:31] lamby opened #200 "Do CasePleuralSpaces.{left.right}_pleural_space need to be nullable?"
The CasePleuralSpaces.left_pleural_space and CasePleuralSpaces.right_pleural_space fields are nullable (ie. ``null=True``).

## Possible Solution
This could be an oversight; perhaps we can make them not-null - it would certainly be tidier and cleaner.

(One outcome here could certainly be that they need to be nullable; just needs good checking)

## Checklist before submitting
- [ ] I have confirme

[2017-11-02 08:17] lamby opened #201 "Move serializers out of interface.backend.models"
``interface.backend.models`` has a number of ``rest_framework.serializers.Serializer``. It would be cleaner if these were in a ``serializers.py`` in the same directory.

## Checklist before submitting
- [ ] I have confirmed this using the officially supported Docker Compose setup using the `local.yml` configuration and ensured that I built the containers again and they reflect the most recent vers

[2017-11-02 17:09] lamby opened #202 "Improve open imagery "Import" button UX"
## Current Behavior

![](https://i.imgur.com/g7P0jyI.jpg)

Pressing the *Import* button expands the filename browser. This makes sense. However, pressing *Import* again contracts the browser, which does not make much sense as you

## Expected Behavior

Unsure about the ideal behaviour. One possibility at this point is that the copy changes after it has expanded (eg. "hide import"). Alternatively,

[2017-11-02 18:05] lamby opened #203 "ModuleNotFoundError: No module named 'src'"
## Current Behavior

[code]

## Steps to Reproduce
1. Visit http://localhost:8001/
2. See traceback

## Checklist before submitting
- [ ] I have confirmed this using the officially supported Docker Compose setup using the `local.yml` configuration and ensured that I built the containers again and they reflect the most recent version of the project at the `HEAD` commit on the `master` branch
- [ ]

[2017-11-02 18:10] lamby opened #204 "Prevent progress to next stage of analysis until "completed" the current step"
## Expected Behavior
The interface should prevent you from moving to the next stage of the image analysis until you have completed the current step, whatever that means for each step.

## Current Behavior
You can proceed to, for example, "Annotate and segment" wthout importing any images.

## Context (Environment)

## Detailed Description

## Possible Implementation

## Checklist before submitting

[2017-11-02 18:27] louisgv commented on #204
Will be thinking about a good practice solution for this.

[2017-11-02 18:30] louisgv commented on #202
If the allows user to import multiple image, then we should remove the call to contracts the browser from the import button event handler, and instead add it to a drop-down button element similar to what we have with nodule.

[2017-11-02 18:40] lamby opened #205 "Export PDF functionality"
![](https://i.imgur.com/qzuzIKD.jpg)

## Expected Behavior
Pressing *Export* exports the page as a PDF

## Current Behavior
(Not implemented)

## Checklist before submitting
- [ ] I have confirmed this using the officially supported Docker Compose setup using the `local.yml` configuration and ensured that I built the containers again and they reflect the most recent version of the project at the `

[2017-11-02 19:33] lamby opened #206 "IsADirectoryError: [Errno 21] Is a directory: '/'"
[code]

## Steps to Reproduce
1. http://localhost:8080/#/
2. See traceback in console

## Checklist before submitting
- [ ] I have confirmed this using the officially supported Docker Compose setup using the `local.yml` configuration and ensured that I built the containers again and they reflect the most recent version of the project at the `HEAD` commit on the `master` branch
- [ ] I have searche

[2017-11-02 19:35] lamby opened #207 "Clicking a directory name in the file browser should expand/contract filenames"
![](https://i.imgur.com/t2nRNDw.jpg)

## Expected Behavior
Clicking the directory name in the file browser should expand/contract filenames.

## Current Behavior
Only pressing the ``[+]``  currently expands or contracts.

## Checklist before submitting
- [ ] I have confirmed this using the officially supported Docker Compose setup using the `local.yml` configuration and ensured that I built the co

[2017-11-02 19:45] lamby opened #208 "Factor out EXTRACTED_IMAGE_DIR"
We use ``EXTRACTED_IMAGE_DIR`` in a few places in the code, eg in prediction/src/algorithms/identify/prediction.py:

[code]
This should be factored out into a more suitable location (eg. a setting or configuration - see elsewhere for prior art).

It should also use ``os.path.join`` for extra bonus points!

## Checklist before submitting
- [ ] I have confirmed this using the officially supported Do

[2017-11-03 07:40] #159 closed

[2017-11-05 00:39] k1703 commented on #208
Hi,

Could I work on this one? This is my first issue here.

Thanks

[2017-11-05 11:49] Serhiy-Shekhovtsov commented on #205
@lamby,  I can see the **interface-backend** tag, is there a particular reason why this has to be done on the server side? I am asking this, cause implementing it on the client side should be an easy task.

[2017-11-06 08:33] #161 closed

[2017-11-07 12:37] #207 closed

[2017-11-07 19:22] Serhiy-Shekhovtsov commented on #148
I'm taking this issue, if nobody minds.

[2017-11-08 05:28] louisgv opened #215 "Eliminate/Restrict Jquery use for cornerstone-tools"
## Expected Behavior

Related to #197 per @vessemer request.

The front-end should not be depending on JQuery as a dependence, unless there is popular demand from contributor. Per #197, it is being imported due to another dependency for advanced medical image processing called `cornerstone-tool`.

It is desirable if we can devise a minimal version of JQuery that has all the required function that

[2017-11-08 07:27] #191 closed

[2017-11-08 07:29] #208 closed

[2017-11-08 16:53] reubano opened #216 "Invert docker-compose `interface` service dependency"
## Overview

As a follow-up to #199, the `interface` service doesn't need to depend on the `base` service since `base` includes things like `pytorch`.

## Expected Behavior

The `docs` service should include `interface` as separate dependency. And the `interface` service should be decoupled from `base` so that it only installs the necessary dependencies.

## Technical details

- #159
- #199

## Ac

[2017-11-08 17:02] WGierke commented on #216
I guess the `docs` service should still use the cache that was built by the `interface` service (instead of re-downloading all the Python dependencies)? Do you have any ideas how to accomplish that?

[2017-11-08 17:18] reubano commented on #203
FYI, here's how it was [previously fixed](https://github.com/concept-to-clinic/concept-to-clinic/commit/a482fd890af5ef81c088464f619c8a427e2199ea)

[2017-11-08 17:37] reubano commented on #216
@WGierke so after thinking about this some more, we may need to re-evaluate the entire structure. Currently, all services benefit from the caching, but only the `docs` service benefits from the added python requirements.

[2017-11-08 18:20] WGierke commented on #187
I'm having at look at this.

[2017-11-09 08:37] #203 closed

[2017-11-12 21:23] reubano opened #222 "Fix docker-compose build error"
## Overview

Building any docker service fails with the following

[code]

## Expected Behavior

Services should build without error

## Acceptance criteria

 - [ ] `docker-compose -f local.yml build` should complete without error.
 - [ ] `docker-compose -f local.yml build prediction` should complete without error.

*NOTE: All PRs must follow the standard PR checklist.*

[2017-11-12 21:32] WGierke commented on #222
Can you give us the output of `docker images | grep concepttoclinic_base` ? I think the base image might get another name at your computer (since it works on Travis).

[2017-11-12 21:37] reubano commented on #222
[code]

Changing the dockerfile to `FROM alcf_base` did the trick, thanks! Guess it goes by the name of the project folder.

[2017-11-12 21:37] WGierke commented on #222
Good to hear that it works now :)

[2017-11-12 21:44] reubano commented on #222
So is this something that can be set dynamically? Or should we have a disclaimer somewhere that telling people what to do if they encounter this error?

[2017-11-12 21:52] WGierke commented on #222
Setting the image name automatically would be the cleanest solution IMO. [SO](https://stackoverflow.com/questions/32230577/how-do-i-define-the-name-of-image-built-with-docker-compose) says `docker-compose --project-name foo build bar` would build the image foo_bar no matter what the parent directory is named. [This answer](https://stackoverflow.com/questions/32230577/how-do-i-define-the-name-of-im

[2017-11-14 11:19] #222 closed

[2017-11-14 15:14] truefalse10 commented on #215
is anyone working on this right now? otherwise i would start

[2017-11-15 20:54] Serhiy-Shekhovtsov commented on #215
@truefalse10 btw, looks like they have a branch for this: https://github.com/chafey/cornerstone/tree/zachasme-es6
More details [here](https://github.com/chafey/cornerstone/issues/180) and [here](https://github.com/chafey/cornerstone/issues/92)

[2017-11-15 20:56] dannyrb commented on #215
It's worth noting that cornerstone is on track to drop its dependency on jQuery. Work is actively being done. It might be worth waiting for the official change, and then update to latest.

[2017-11-15 21:19] Serhiy-Shekhovtsov commented on #145
I would like to work on this one, if nobody started yet.

[2017-11-15 23:20] lamby commented on #205
@Serhiy-Shekhovtsov Implementing client-side is fine :)

[2017-11-15 23:49] reubano opened #227 "Fix interface building"
## Overview

Building the interface service fails with the following error

[code]

## Expected Behavior

Interface services should build without error

## Technical details

- This bug first appears in #199
- Possibly related to https://github.com/moby/moby/issues/5135
- Possibly specific to Docker For Mac
- Docker For Mac v17.09.0-ce-mac35
- macOS 10.13

[code]

## Acceptance criteria

 - [ ] `d

[2017-11-16 07:46] WGierke commented on #195
`The identification tests should fail on travis even when RUN_SLOW_TESTS isn't set to true.`
Assuming that an error occurs in the seconds before the timeout, right? Otherwise the test passes because the timeout is not seen as an error?

[2017-11-16 18:04] reubano commented on #195
@WGierke yes, exactly.

[2017-11-16 20:37] Serhiy-Shekhovtsov opened #228 "Any reason for having HyperlinkedModelSerializer instead of ModelSerializer?"
Is there any reason for using `HyperlinkedModelSerializer` for serializing the data before sending it to client side?

### Having this serializer have following drawbacks:

- Returned data doesn't have the **id**. Here is an example of data for `/api/candidates.json` method:
`{"url":"http://interface:8001/api/candidates/1.json","centroid":{ ... },"created":" ... ","probability_concerning":0.3,"cas

[2017-11-17 18:09] reubano opened #229 "Algorithms don't work across both dicom and luna scans"
## Overview

Currently, the classification algorithm is tested with a luna scan, and the segmentation and identification algorithms are tested with dicom scans. This indicates that there may be some incompatibilities between dicom and luna scans that make them not work with certain algorithms. I have confirmed this by adding new tests for the complementary scans and produced the following results:

[2017-11-17 19:22] pjbull opened #230 "Ask a Clinician! (add a question, get points)"
This project is about making something useful for clinicians. This is your chance to pull up and get input from radiologists working on the front lines of early detection. We would love to hear what you are wondering about in terms of the workflow at the clinic, and where user input can address thoughts that are coming up for you as you work on the application.

 - What are your questions about a

[2017-11-17 19:37] isms commented on #228
Hyperlinked fields let the frontend get canonical URLs from the backend rather than doing `domain + id + endpoint` stuff in frontend JS which will immediately break if the endpoints change or if a field other than `id` is used for lookups in the future. Instead the idea is that you can fetch a related resource by fetching `object.url`. You can make it work either way but including links seems to b

[2017-11-17 23:56] #206 closed

[2017-11-18 00:02] #205 closed

[2017-11-18 04:34] louisgv commented on #204
If nobody has working on this yet, I will begin tomorrow.

[2017-11-18 04:58] louisgv commented on #230
1. How often does radiologists spot error in patient's files/data and what kind of tool do they currently using to validate data and/or fix error?

2. In the Report/Export view, would clinicians prefer to have as much data cramped into the view-port as possible (for quick scanning, for example) in a way similar to infographic report (example)[http://myonlinecareerspace.com/blog/wp-content/uploads/

[2017-11-18 08:27] WGierke commented on #230
I have some pretty obvious questions:

1. If you could wish for a piece of software that could help you detecting lung cancer nodules, what would be its most useful features and how would it be different from any possible "competitors" that already exist?

2. What would be the most important properties such a software has to fulfill such that you would use it on a regular basis (intuitive user int

[2017-11-18 13:57] Serhiy-Shekhovtsov commented on #228
@isms, your suggestion to inherit all from base and override the `get_serializer_context` is nice, didn't think about it. And after I have implemented it the issue with `.json` is also gone.

Btw, here are my findings about `.json` issue: When request is *not* set to None for the serializer, then generated URL will be absolute **and also** copy the extension of the query. If you load `/api/candida

[2017-11-18 16:00] musale commented on #227
@reubano interestingly, I've done the build without any errors from the current master branch.
**OS** : Manjaro Linux
**Docker version**: 17.10.0-ce, build f4ffd2511c

My suggestion would be you try with upgraded docker?

[2017-11-18 18:07] musale commented on #230
I have some here too:

1. What would you like improved/ changed in your current workflow using tools with standard PACS software package with the current workflow in the concept-to-clinic project?

2. In the lung cancer screening report, is there information in the standard template that is missing and you would want in the report generated by concept-to-clinic project (or omitted)? If there is, w

[2017-11-18 21:45] Serhiy-Shekhovtsov commented on #202
I am not sure if we should allow selecting multiple images. In documentation we can find the following:

Also it will complicate some things, including this story: Prevent progress to next stage of analysis until "completed" the current step (#204).
Please, let me know what do you think? (This issue is blocking me with #145)

[2017-11-18 21:46] isms commented on #228
Closed by #231 - thanks @Serhiy-Shekhovtsov.

[2017-11-18 21:46] #228 closed

[2017-11-18 22:17] louisgv commented on #202
@Serhiy-Shekhovtsov After reading the requirement again, I think we should separate the two function into 2 UI elements (button), one for importing image and one for expanding the image. So maybe for #145, you can simply change the callback of the import button to do what need to be done, or you can also add a new button to import (to avoid conflict with this issue), and then we can refactor the U

[2017-11-18 22:21] louisgv commented on #202
Hmm, seems like #204 and #202 (this) will be sharing some higher order state. I will do some experiment with this UI element as well as implementing a parent state (to keep track of the step for #204) then :-?

[2017-11-18 22:21] Serhiy-Shekhovtsov commented on #202
I am going to do the following:

- Show if there is any case started. If started - show a message that starting a new case will drop the current one.
- Show list of images in local system. User can click on image name to view it. (this is already implemented)
- On "start case" button click - I will drop the current case and create a new one with selected image.

[2017-11-18 22:22] Serhiy-Shekhovtsov commented on #202
@louisgv , but I already started #202. And this one looks like really minor and will be closed as well.

[2017-11-18 23:29] Serhiy-Shekhovtsov commented on #202
@louisgv I think you can work on #204 separately, right?

[2017-11-19 02:21] louisgv opened #234 "Docker Build failed, /proc file permission denied"
## Expected Behavior

Upon pulling new change from master, I should be able to run `docker-compose -f local.yml build` to update the docker image.

## Current Behavior

The build process failed:

[code]
## Possible Solution

## Steps to Reproduce

1. Pull from master
2. Run `docker-compose -f local.yml build`

## Context (Environment)

This might be specific to Debian. My operating system is:
[cod

[2017-11-19 04:10] #198 closed

[2017-11-19 05:31] louisgv commented on #234
After spending an entire day trying all kind of thing to fix the problem, from reinstalling docker, to remove docker tunnel, to reboot my machine a dozen of time, I decided to just comment out the 8th docker command in the `base` instruction, and that solved the problem.

This was super frustrating. But I think this line should be investigated and might need improvement:

[code]

Maybe we can use

[2017-11-19 05:35] louisgv commented on #202
@Serhiy-Shekhovtsov For sure! I thought you were looking to avoid conflicting with this issue, but if you can solve both that'd be great :p I didn't mean to raise conflict/confusion.

Also I was spending the entire day updating my build... refer to #234 :skull:

[2017-11-19 09:08] Serhiy-Shekhovtsov commented on #202
!["Import" button UX](http://g.recordit.co/QvlvS3OCv6.gif)

[2017-11-19 16:44] WGierke commented on #229
Once #237 is merged, I'd like to work on "segmentation test(s) should pass for luna scans".

[2017-11-19 18:13] louisgv commented on #204
So I think since each tab are controlled by vue-router, the solution to this would be to add a gate layer to each route and check for condition.

https://router.vuejs.org/en/advanced/navigation-guards.html

Will be going through the doc and implement a simple gate layer for each route.

[2017-11-19 18:48] WGierke commented on #229
I took a quick glance at the identification problems. When running the tests, I get a `RuntimeError: $ Torch: not enough memory: you tried to allocate 21GB. Buy new RAM! at /pytorch/torch/lib/TH/THGeneral.c:270`. This basically means that our client / web server (depending on where the project will be deployed in the end) needs at least 21 GB of RAM. Is it realistic to assume that this will be the

[2017-11-19 20:40] WGierke commented on #195
If I understand [this](https://stackoverflow.com/questions/46766899/pytest-timeout-fail-test-instead-killing-whole-test-run) correctly, it doesn't appear to be so easy to catch the case when pytest-timeout stops a method because the SIGALRM signal does not produce an exception. I was able to implement the remaining logic but currently I'm struggling with somehow catching that timeout exception:
`g

[2017-11-19 23:13] louisgv opened #238 "Error importing CaseFactory()"
I'm trying to importing some nodule data to test with the interface. Following this guide: https://github.com/concept-to-clinic/concept-to-clinic/issues/149#issuecomment-335625985

## Expected Behavior

I should be able to run this in the console:
[code]

Without seeing any error

## Current Behavior

The following error was thrown:

[code]

## Possible Solution

## Steps to Reproduce

1. Followin

[2017-11-19 23:41] #160 closed

[2017-11-20 08:35] Serhiy-Shekhovtsov commented on #145
We have two pull requests for this issue:

PR #233 with this approach:
1. Click Import
2. Preview images on local system
3. Click Load Image
4. Start new case

And PR #236 with the approach:
1. Preview images on local system
2. Start new case

And there some changes requested by @louisgv that are applicable for both of these pull requests. But I am not sure about working on them, since @vessemer m

[2017-11-20 11:45] Serhiy-Shekhovtsov opened #240 "DICOM viewer: zoom, pan, and navigate through slices"
According to documentation:

During these actions the following model properties should be updated: `zoomRate`,
`offsetX`, `offsetY`. These properties has been introduced in [this commit](https://github.com/concept-to-clinic/concept-to-clinic/pull/226/commits/9e53048dbd65d8d232787e957ba2db2b7f622c48#diff-70d179422138a3042c2135a282065626R42). Hopefully PR will be merged soon.

These properties shou

[2017-11-20 11:51] Serhiy-Shekhovtsov opened #241 "DICOM viewer: errors in console and can't select slice"
When importing\browsing DICOM images the viewer is showing only once slice and doesn't allow scrolling. I can see following errors in console:

And this one:

## Steps to Reproduce
1. Open home page
2. Click Import
3. Unfold until you find an image file
4. Click on image file

## Checklist before submitting
- [x] I have confirmed this using the officially supported Docker Compose setup using the `

[2017-11-20 11:54] Serhiy-Shekhovtsov commented on #241
I have created a task for all features the **DICOM viewer** should have - #240 and probably it will take some time to implement them. Till that time this bug can fixed separately.

[2017-11-20 11:55] Serhiy-Shekhovtsov commented on #150
@jjjmm are you still working on this issue? If yes, do you need any help?

[2017-11-20 12:07] jjjmm commented on #150
@Serhiy-Shekhovtsov currently not, you can take this issue if you want

[2017-11-20 13:11] vessemer commented on #145
Good time of a day, @Serhiy-Shekhovtsov
Do not worry, I didn't ignore your comments at all. I've been also concerned about the right way of collaboration, once I got into this project. I've noted your [question](https://github.com/concept-to-clinic/concept-to-clinic/issues/4#issuecomment-327718051) in the issue #4, left unanswered. что-то типа, I'm used to the situations when someone takes the iss

[2017-11-20 21:01] reubano commented on #227
Ok, so I tried it again and now everything works! Turns out the [solution I implemented](https://github.com/docker/for-mac/issues/1396#issuecomment-313457823) to solve another problem, ending up fixing this one as well. Thanks!

[2017-11-20 21:01] #227 closed

[2017-11-20 22:17] reubano commented on #113
Still getting this error. Anyone else?

[2017-11-21 19:35] WGierke commented on #195
Nvm, I think I got it :)

[2017-11-21 19:44] Serhiy-Shekhovtsov commented on #150
I am taking it. If anyone willing to join - please, put a comment or ping me on [gitter](https://gitter.im/concept-to-clinic/Lobby), so we can collaborate on this.

[2017-11-21 20:02] pjbull opened #244 "Update that version number in the Navbar"
## Expected Behavior
Navbar has short git hash that matches the current version of the code. This will be especially valuable on the [demo site](http://demo.concepttoclinic.drivendata.org).

## Current Behavior
Nav bar displays the string `a0b1c2d` all the time.

<img width="1000" alt="screen shot 2017-11-21 at 11 46 32 am" src="https://user-images.githubusercontent.com/1799186/33101365-eba44e06-c

[2017-11-21 22:56] vessemer commented on #150
I'm currently working on that, but only over `cornerstone-tools` segmentation part, thus will be glad to collaborate on this :)

[2017-11-22 04:22] louisgv opened #245 "Refactor Front-end Unit Test Suite"
## Expected Behavior

Front-end should have a run-able unit test suite so that we can validate new component/works.

## Current Behavior

The current unit test suite does not run and it is using deprecated packages. It also does not setup to run on docker.

## Possible Solution

+ Adding docker build
+ Upgrade test tool dependency or switch to better tool.

## Steps to Reproduce

1. There is no wa

[2017-11-22 04:23] louisgv commented on #245
Work on this has already been started and will be published in #239

[2017-11-22 09:36] Serhiy-Shekhovtsov commented on #150
Have a look at [Area Canvas Editor](https://github.com/neshte/jquery-canvas-area-draw) as well:

![Area Canvas Editor](http://g.recordit.co/dTjU1H0KV0.gif)

It has some advantages over ROI tool:
1. no `cornerstone-tools` dependency, you can put it in any div element. and you can make a separate `Vue.js` component
2. user can add new points to existing area
3. user can remove points
4. dragging of

[2017-11-22 09:54] swederik commented on #241
Two issues I noticed in the code:

https://github.com/concept-to-clinic/concept-to-clinic/blob/54ce001d3fad2c18bd9c01dcf9b2907dda3a6448/interface/frontend/src/components/open-image/OpenDICOM.vue#L104-L112

- You need to enable mouseWheelInput or your stackScrollWheel tool will not work:

[code]

- You have both windowing and stack scrolling bound to the left mouse button, so it will probably act v

[2017-11-22 14:56] WGierke commented on #167
So has this now been implemented in 11d04b0?

[2017-11-22 15:27] WGierke commented on #165
From [Allow compose to run arbitrary commands at the host level after or before containers are started](https://github.com/docker/compose/issues/2012):
`command is always run in a container. docker-compose is not a tool for running commands on the host.`
Seems like we need to put your suggested commands into an extra bash script :/

[2017-11-22 18:14] louisgv opened #246 "Refactor Front-end E2E Test Suite"
## Expected Behavior

One should be able to run the E2E from a docker environment and see the result.

## Current Behavior

The current test suite does not run in a docker environment due to its reliant on node to build and expose selenium, which in turn is relying on a system-wide JAVA installation.

## Possible Solution

Purge local installation of chromedriver and selenium, and instead use dock

[2017-11-22 18:14] louisgv commented on #246
Work on this has already been started and will be published together with #239

[2017-11-22 21:12] #187 closed

[2017-11-22 21:20] WGierke commented on #151
@reubano do you think this can be closed as well?

[2017-11-22 21:31] #151 closed

[2017-11-22 22:32] #195 closed

[2017-11-22 23:49] reubano commented on #234
I can't reproduce this, but it could be related to https://github.com/moby/moby/issues/16506. Perhaps a PR blacklisting the `proc` dir may help.

[2017-11-23 00:16] reubano commented on #234
FYI, these packages do the same thing as the script. Just in python instead of bash.

[2017-11-23 01:04] reubano commented on #229
I'd be inclined to say 'no', but I suppose @isms or @pjbull would know for sure.

[2017-11-23 01:12] lamby commented on #148
Fixed in https://github.com/concept-to-clinic/concept-to-clinic/commit/093b06ffddf7a38b73a703ac2ecd28c33db386a3

[2017-11-23 04:09] isms commented on #229
Per design doc, the goal here is running app on premise on local computer and not worrying so much about optimizing to moves lots of packets across networks. We can assume a workstation with a reasonable amount of RAM.

For practical purposes we are running the demo on a machine without unlimited RAM so it's not boundless. But it's an AWS `c5.large` or something similar so RAM is not in short supp

[2017-11-23 22:17] WGierke opened #247 "Race Condition with Timeout Tests"
As discussed in #239 , apparently #243 introduced a race condition that involves tests that should timeout. Sometimes, a `TimeoutExit` is thrown (which is correctly caught) and sometimes a `Termination` exception is thrown which is currently now caught and makes the tests fail (e.g. [here](https://travis-ci.org/concept-to-clinic/concept-to-clinic/builds/306144770?utm_source=github_status&utm_mediu

[2017-11-23 23:12] lamby commented on #241
Merged in https://github.com/concept-to-clinic/concept-to-clinic/commit/4d867a08dd89529ff94e820a95659c6ef0ae52c6 :)

[2017-11-23 23:12] #241 closed

[2017-11-23 23:15] #247 closed

[2017-11-24 21:27] Serhiy-Shekhovtsov commented on #150
@vessemer I have copied and improved the [mentioned project](https://github.com/neshte/jquery-canvas-area-draw) to fit our needs in this PR: #249.

![vue-area-select](http://g.recordit.co/HERuf4ckeD.gif)

[2017-11-26 02:16] reubano commented on #238
Not able to replicate your error. What os and docker version?

[2017-11-26 02:30] #204 closed

[2017-11-26 02:30] lamby commented on #245
Fixed in https://github.com/concept-to-clinic/concept-to-clinic/commit/09d4bc5863f2fcf7e166d4b15cef01779a8b8dd4

[2017-11-26 02:30] #245 closed

[2017-11-26 02:30] lamby commented on #246
Fixed in https://github.com/concept-to-clinic/concept-to-clinic/commit/09d4bc5863f2fcf7e166d4b15cef01779a8b8dd4

[2017-11-26 02:30] #246 closed

[2017-11-26 02:32] lamby commented on #150
Fixed in https://github.com/concept-to-clinic/concept-to-clinic/commit/5ffde736410e4fd47fad7d4b9f2456f1ff4a37d4

[2017-11-26 03:37] reubano opened #251 "Vue compilation broken"
## Overview

Because of [this bug](https://github.com/vuejs/vue/issues/7084) in version 2.4.2 of **Vue.js** the compilation of Vue app is broken.

## Expected Behavior

Vue should build

## Acceptance criteria

 - [ ] Vue builds

*NOTE: All PRs must follow the standard PR checklist.*

[2017-11-26 03:39] #251 closed

[2017-11-26 10:58] Serhiy-Shekhovtsov commented on #150
@lamby I think it's too early to close this one yet :) I've only implemented a component for area selection, but still there things to be implemented:
-  Display an image view of a given slice of the selected nodule. Allow navigation between slices.
    - Code from #148 can be used as an example
-  Overlay the current vertices on top of the nodule image to see the predicted boundary.
    - The com

[2017-11-27 02:45] elnardu commented on #113
@reubano same
[code]

[2017-11-27 03:53] isms commented on #113
@reubano I was just able to successfully build `master` without this problem. Any updates?

[2017-11-27 03:56] isms commented on #238
@louisgv Seeing `relation "images_imageseries" does not exist` indicates to me that this table is not found at all, which means that the command which migrates the database up to the present schema (`python manage.py migrate`) was not run.

What were the exact commands you ran to get an interactive shell?

[2017-11-28 18:39] #163 closed

[2017-11-28 18:39] reubano commented on #163
Fixed by #199

[2017-12-01 09:07] lamby commented on #148
Merged in https://github.com/concept-to-clinic/concept-to-clinic/commit/c4db12ee26b004f1c7466fb879bfe36ea6135048: )

[2017-12-01 09:09] lamby commented on #244
Merged in https://github.com/concept-to-clinic/concept-to-clinic/commit/615261c5cebf040dc971fd212b161c7fbd1055d1 :)

[2017-12-01 09:13] WGierke commented on #229
@reubano could you do me a favor and check out my branch [229_fix_segmentation](https://github.com/concept-to-clinic/concept-to-clinic/compare/master...WGierke:229_fix_segmentation?expand=1)? All I did was to apply the patch for the segmentation tests and merge the current master. The outcome was that all segmentation tests passed (I also ran slow tests):
[code]
I think the issues behind the faili

[2017-12-03 16:48] brycecf commented on #178
@isms Is anyone working on this and #177?  If not, I would be happy to help out.

[2017-12-03 22:32] calvernaz commented on #165
This [comment](https://github.com/docker/for-mac/issues/371#issuecomment-348745353) details a solution that worked for me,  after installing docker edge on High Sierra the `Data` folder moved from 36GB to 1.4GB

[2017-12-03 22:47] calvernaz commented on #167
Exactly what is missing here?

[2017-12-04 00:49] isms commented on #178
@brycecf Feel free! Just be aware the example given is old, so this would count for anywhere you can find endpoints that don't go along with this.

[2017-12-04 07:21] lamby commented on #229
merged in https://github.com/concept-to-clinic/concept-to-clinic/commit/40c1b41d379cb60b975f5f3671b2521d3b0b81d4 :)

[2017-12-04 10:08] musale commented on #238
@isms I came across a similar error doing the steps and I fixed it with

`$ docker-compose -f local.yml run interface python manage.py makemigrations`
`$ docker-compose -f local.yml run interface python manage.py migrate`

[2017-12-04 10:19] louisgv commented on #238
@isms sorry for the late respond. Finals' been drowning me lately :p...

@musale I will give that a try

[2017-12-04 14:45] isms commented on #234
@louisgv I think it's time to close this and #238 unless you can update us with current status and detailed steps to reproduce. Thoughts?

[2017-12-04 14:53] isms commented on #216
@reubano Is there something specific we can change this issue to? As currently posed it seems overly broad and not actionable.

[2017-12-04 14:58] isms commented on #167
@lamby Can you look into this and close the issue if necessary?

[2017-12-04 17:12] isms commented on #134
Should be closed by 6dbc201f24c21c004901d43bd788694d919fecda.

[2017-12-04 17:12] #134 closed

[2017-12-04 17:41] isms opened #258 "Add algorithm documentation pages to the docs table of contents"
## Expected Behavior
We want to see the algorithm documentation pages in a table of contents section of the built docs.

## Current Behavior
They're not in any `toctree`:
[code]

[2017-12-04 21:38] reubano commented on #165
@WGierke and @calvernaz thanks for the input! So I guess the solution is to upgrade and clean manually occasionally?

[2017-12-04 21:53] calvernaz commented on #165
Indeed

[2017-12-04 21:56] reubano commented on #229
Leaving open until all sub-issues are solved.

[2017-12-04 21:56] WGierke commented on #165
I think so, yes

[2017-12-04 22:01] isms commented on #150
@lamby I agree with @Serhiy-Shekhovtsov - this is not done. Reopening.

[2017-12-04 22:04] pjbull commented on #150
As a heads up for anyone thinking about this issue, the DrivenData team be doing some work on this feature for some upcoming demos, so the master branch is subject to change!

[2017-12-04 22:10] reubano commented on #165
@calvernaz and @WGierke got it. Perhaps we should update [the documentation](https://concept-to-clinic.readthedocs.io/en/latest/developing-locally-docker.html#other-notes) to include this information then.

[2017-12-04 22:10] #165 closed

[2017-12-05 17:37] #201 closed

[2017-12-06 11:17] WGierke commented on #244
@lamby can this issue be closed then?

[2017-12-06 19:19] reubano opened #262 "luna series don’t work"
## Overview

The image import screen fails with LUNA files.

![screen shot 2017-11-28 at 13 34 08](https://user-images.githubusercontent.com/157864/33462244-17f194c4-d5fc-11e7-8acf-78fca4ba7208.png)

## Expected Behavior

Clicking on a LUNA file loads the image

## Current Behavior

Clicking on a LUNA file does nothing

## Steps to Reproduce

[code]

## Acceptance criteria

 - [ ] clicking on a LU

[2017-12-06 19:57] reubano opened #264 "UI state isn't preserved across tab navigations"
## Overview

If you select a DICOM file from the "Open Image" tab and navigate to another tab, once you return back to "Open Image", the "Import image series" panel will be gone.

![window 2017-11-28 at 14 02 03](https://user-images.githubusercontent.com/157864/33681026-005f08fa-da89-11e7-8301-ff6b96b8a603.png)
![window 2017-11-28 at 14 02 13](https://user-images.githubusercontent.com/157864/33681

[2017-12-06 21:41] reubano commented on #216
@isms still thinking this over... is there anything in particular that is too broad/not well explained? cc @pjbull

[2017-12-07 22:05] louisgv commented on #234
@isms let's close this for now. By commenting out the 8th line of the docker script this problem is gone for me.

[2017-12-07 22:05] #234 closed

[2017-12-08 21:30] #167 closed

[2017-12-08 21:36] #244 closed

[2017-12-12 08:50] lamby commented on #258
Merged :)

[2017-12-12 08:50] #258 closed

[2017-12-12 08:54] lamby commented on #145
Note that #233 was just closed (see there for details) -- is this issue therefore resolved elsewhere? :)

[2017-12-12 20:46] reubano commented on #238
@louisgv any luck?

[2017-12-12 20:49] reubano opened #266 "Add missing API server response tests"
## Overview

PR #254 removed the [server response tests](https://github.com/concept-to-clinic/concept-to-clinic/pull/254/files#diff-8bd18167425784c3d5284ee13a570db5L44)

## Expected Behavior

Server response tests should be present.

## Acceptance criteria

 - [ ] Replace the removed response tests with ones that account for the API changes

NOTE: All PRs must follow the standard PR checklist

[2017-12-12 20:51] #266 closed

[2017-12-12 22:55] #177 closed

[2017-12-12 22:56] isms commented on #110
Closing this omnibus issue in favor of more targeted issues.

[2017-12-12 22:56] #110 closed

[2017-12-13 15:55] swederik commented on #215
We just released Cornerstone Tools 2.0.0 which no longer depends on jQuery. Let us know if you run into any bugs. Thanks!

[2017-12-13 16:13] isms commented on #160
I'm still not clear on why we would want a gigantic integration test instead of testing the services individually?

[2017-12-13 23:53] WGierke commented on #131
Maybe we should proceed in small steps by e.g. first adding evaluation methods that cover most of the metrics introduced in #221 so we can have a more standardized way to determine those metrics? This way we would also be able to quickly determine the quality of the current implementations of the identification, classification and segmentation algorithms. This would in turn make it easier to focus

[2017-12-15 23:52] WGierke opened #268 "Classification throws RuntimeError for real nodule location"
Related to #229 : While the nodule classification works for providing nodule locations with small values in each dimension, it fails when I tried to classify a real nodule (first one of patient LIDC-IDRI-0003).

## Expected Behavior
A cancer probability should be returned.

## Current Behavior
An error is thrown:
[code]
See here to verify that at this position there is a nodule:
![screenshot from

[2017-12-17 10:16] WGierke commented on #229
@isms I can understand that RAM usage is not a hard constraint. However, this makes it impossible for me (and others with less than 32GB RAM) to debug (and improve as described in #130 ) the model. Do you see any possibility to address this problem?

[2017-12-17 10:22] Serhiy-Shekhovtsov commented on #148
@lamby this can be closed, right?

[2017-12-18 11:08] reubano commented on #160
@isms mind giving an example of the sort of "individual service test" you mean? One way to speed things up could be reducing the [`TIMEOUT`](https://github.com/WGierke/concept-to-clinic/blob/0e359716e632b668aebcbfe8a86364610702453e/tests/test_routes.py#L6).

[2017-12-18 14:32] #148 closed

[2017-12-18 17:30] isms commented on #160
@reubano It seems like this is essentially testing Docker by seeing if the services specified in `docker-compose.yml` show up, no? In each case you could write a simple unit (or functional) test for the service in question to make sure it's working (e.g. not 404, not ERR_CONNECTION_REFUSED).

This is not a good way to test whether each of the services are working as designed (except for painfully

[2017-12-19 00:01] reubano commented on #229
According to the [c5 spec page](https://aws.amazon.com/ec2/instance-types/c5/), a `c5.large` only has 4gb of RAM, the `c5.4xlarge` however has 32gb. The `c5.4xlarge` [prices at $0.680/hr](http://ec2pricing.net/beta/). Alternatively, the `r4.xlarge` has less compute power (vs the `c5.4xlarge`), but a similar amount of ram, for $0.266/hr.

@WGierke looks like your best bet may be to try spinning up

[2017-12-19 14:04] isms commented on #229
@WGierke I know that @caseyfitz (on our team) is looking into the models, and we can potentially try to report out some accuracy statistics from the status quo model in case it informs a parallel approach that uses less memory. That being said, we don't know how long that would take so if you are blocked based on system requirements I'm not sure what to recommend other than using a cloud VM with h

[2017-12-19 14:22] WGierke commented on #229
@isms Alright, thanks a lot for the insights and the feedback. I'll have a look at how I can solve this problem for me. Thanks!

[2017-12-19 15:14] Raab70 commented on #229
My 2 cents as someone who is lurking interested in contributing is to lower the barrier to entry as much as possible. If AWS is the answer can we use terraform or cloudformation to create a template which makes it easy to spin up a dev instance or an instance which runs the test suite? And make sure the costs of any kind of template are well documented so people know what they're getting into ahea

[2017-12-19 15:17] isms commented on #229
@Raab70 That sounds like quite a bit of "meta" work with the limited amount of time left in the competition! That being said if you think it would be helpful for you to do so, feel free to give it a try and report back.

[2017-12-19 15:43] reubano commented on #268
confirmed

[2017-12-20 10:57] WGierke commented on #178
@brycecf Are you still working on this one?

[2017-12-20 13:26] isms commented on #178
@WGierke before you dive in you may just want to check the open PRs to see if any issues have already been resolved

[2017-12-20 15:44] isms commented on #230
@louisgv @WGierke @musale Thanks for the questions! We'll pass them along and surface interesting responses when we get them.

[2017-12-20 19:41] hengrumay commented on #230
I wonder if clinicians would appreciate having
1) an interactive tool that allows feedback cycle e.g. to indicate their hypothesis about a potential mass-detection, the procedures intended for the patient and the outcome of it such that all the information could update the detection algorithm(s) or at the minimum document any outlier situations.
2) a tool that allows for comparison between current

[2017-12-22 17:21] lamby commented on #230
@hengrumay (I'd love to award you some points for your contribution but you don't seem to have signed up to the competition!)

[2017-12-22 17:37] pjbull commented on #130
For folks who are interested, see the latest announcement here:
https://concepttoclinic.drivendata.org/newsfeed

There are a limited number of AWS credits available for folks to continue to make progress on these algorithms.

[2017-12-22 17:37] pjbull commented on #131
For folks who are interested, see the latest announcement here:
https://concepttoclinic.drivendata.org/newsfeed

There are a limited number of AWS credits available for folks to continue to make progress on these algorithms.

[2017-12-22 18:02] WGierke commented on #131
Thanks @pjbull !
I contacted the DrivenData team and asked for credits. If they can provide me with some, I'd like to work on this issue. Once I get their answer, I'll update this comment with the current state for transparency reasons.

[2017-12-23 03:35] hengrumay commented on #230
@lamby I just signed up -- I hope it got through. Either way no worries. Just trying to be helpful! Thanks!

[2017-12-26 23:19] Serhiy-Shekhovtsov commented on #240
Looks like the new cornerstone version have support for zoom and pan. Will check how can we use it with our components for nodule selection and segmentation.

[2017-12-27 21:11] Serhiy-Shekhovtsov commented on #240
Activated window width and window center adjustment, zooming and panning of cornerstone tools component. Updated the `NoduleMarker` component to rescale and move the marker accordingly.
![zoom, pan](http://g.recordit.co/VbxLfPX3qB.gif)
Will push as soon as PR #269 is merged.

[2017-12-28 18:20] lamby commented on #215
https://github.com/concept-to-clinic/concept-to-clinic/commit/ca6f6549f92eca12a7d8c37daab7284d76379bba :)

[2017-12-28 19:31] dannyrb commented on #215
@lamby, if you have other Cornerstone related requests, please feel free to cross-post issues. Always happy to hear about others using Cornerstone, and we want to do what we can to make it more useful for integrators

[2017-12-29 15:50] Serhiy-Shekhovtsov commented on #131
@WGierke, I have create a virtual machine, the support should increase the instances limit anytime soon, and then the machine will be ready for use. Also, I have plenty of time for upcoming week. So, if you have some ideas, we can work together on the issue and share the points and the fun :)
If this sounds good to you, please, [contact me](https://gitter.im/Serhiy-Shekhovtsov) on Gitter.

[2017-12-29 21:30] Serhiy-Shekhovtsov commented on #268
I did some checking... I may be wrong, but it looks like the specified slice is not valid.
The one we are running the test for is `{'x': 367, 'y': 349, 'z': 72}` but the DICOM at this slice looks like a mess:
![nodule1](https://image.prntscr.com/image/BSyb534nQ1CKV30UU8hdsg.png)

While when I run the test on `{'x': 367, 'y': 349, 'z': 189}` it doesn't fail. Here is how the image looks at specified

[2017-12-29 22:13] WGierke commented on #268
Hi Serhiy, can you check the slice indices, please?
The z axis is the number of the slice starting at 0. This is because the image position does not always start at a fixed value. I'm taking this from the design doc. Also, the used Python library for the LIDC images interprets it like that. Thanks!

On Dec 29, 2017, 10:31 PM, at 10:31 PM, Serhiy-Shekhovtsov <notifications@github.com> wrote:

[2017-12-29 22:23] Serhiy-Shekhovtsov commented on #268
I knew I missed something. Will keep checking this issue.

[2018-01-01 19:56] Serhiy-Shekhovtsov commented on #240
The feature has been implemented.

[2018-01-02 15:55] Serhiy-Shekhovtsov commented on #268
The mentioned issue is very simple - test is running on small DICOM image and 72 is far outside the boundaries of Z dimension(0, 28). The cropping will fail to create a patch of expected size (96, 96, 96). The test can be fixed by simple replacement of `dicom_path_003`(small image) with `dicom_paths[2]`(full image).

While troubleshooting this issue I have found an other problem - the preprocessin

[2018-01-02 16:13] Serhiy-Shekhovtsov commented on #268
Probably, zooming factor from [this place](https://github.com/concept-to-clinic/concept-to-clinic/blob/666fb1bf410cbd80eb7928d0e3c5f2433ad668a5/prediction/src/preprocess/preprocess_ct.py#L141) should be saved as a property of CT [MetaData](https://github.com/concept-to-clinic/concept-to-clinic/blob/666fb1bf410cbd80eb7928d0e3c5f2433ad668a5/prediction/src/preprocess/load_ct.py) object and then used

[2018-01-02 17:39] Serhiy-Shekhovtsov commented on #268
@vessemer , I think you may also be interested in this discussion.

[2018-01-02 17:54] Serhiy-Shekhovtsov commented on #131
@reubano, @pjbull what @WGierke [said here](https://github.com/concept-to-clinic/concept-to-clinic/issues/131#issuecomment-351563298) makes perfect sense to me. If the score for those metrics is a required part of models improvement it would be nice to have a set of standard tests for them.
I am happy to take part in it's development. What do you think?

[2018-01-02 19:39] sirusss commented on #178
If this has not been resolved yet, I plan to make a PR this week to look into the issue.

[2018-01-03 08:30] #240 closed

[2018-01-03 08:35] reubano commented on #131
@Serhiy-Shekhovtsov @wgierke sounds good to me. Feel free to create the relevant issues.

[2018-01-03 08:39] reubano commented on #268
Is there instead, another coordinate that works for both large and small images?

[2018-01-03 08:42] Serhiy-Shekhovtsov commented on #268
Yes, there is. Don't have it at my hand right now, but will post within an hour.

[2018-01-03 08:46] reubano commented on #268
Hmm, `self.spacing` is used by two different classes. If they are infact referencing the same thing, we should rethink how the code is organized. Maybe having `MetaData` also subclass `Params`?

[2018-01-03 08:48] reubano commented on #268
My suggestion would be to wrap whatever method you used to calculate those new coordinates into a function. Then add that new function into the conditional so that after zooming, it recalculates the coords.

[2018-01-03 09:40] WGierke opened #271 "Evaluation Pipeline for Models"
As discussed in #131 it would be helpful to have a consistent pipeline to evaluate prediction models. This way we get to know how well the currently implemented models are, which ones need to be improved and how well a new model performs. The pipeline should calculate the appropriate metrics that have been specified in #221 while some of the [are already available here](https://github.com/concept-

[2018-01-03 18:40] isms commented on #178
Closing this issue now that the Vuex pattern is being used as of #265

[2018-01-03 18:40] #178 closed

[2018-01-03 18:42] isms commented on #264
Closed as of #263.

[2018-01-03 18:42] #264 closed

[2018-01-03 18:42] isms commented on #202
Closed as of #265

[2018-01-03 18:42] #202 closed

[2018-01-03 18:49] isms commented on #238
Closing as norepro

[2018-01-03 18:49] #238 closed

[2018-01-03 21:37] Serhiy-Shekhovtsov commented on #268
@reubano, @WGierke something like [this](https://github.com/concept-to-clinic/concept-to-clinic/pull/272)?

[2018-01-04 09:37] Serhiy-Shekhovtsov commented on #215
This can be closed. Implemented in #269.

[2018-01-04 13:33] vessemer commented on #268
@Serhiy-Shekhovtsov, thanks for mentioning me, if I correct, then the input coordinates should always be in real units — mm, not in voxels, and for this purpose, we always store current spacing in [meta](https://github.com/concept-to-clinic/concept-to-clinic/blob/666fb1bf410cbd80eb7928d0e3c5f2433ad668a5/prediction/src/preprocess/load_ct.py#L135-L150) which updates with [zoom](https://github.com/co

[2018-01-04 15:59] #215 closed

[2018-01-04 16:58] Serhiy-Shekhovtsov commented on #268
@vessemer the problem we had, the zooming factor got lost after zooming. When `params.spacing` is 1 and the `meta.spacing` is 2.5 we will zoom the image and then wipe out the `meta.spacing`. Then we will not know how to zoom the coordinates. Also I noticed that there is no use for `params.spacing`, so I converted it boolean. When it's `true` we will zoom the image during preprocessing according to

[2018-01-04 19:36] vessemer commented on #268
@Serhiy-Shekhovtsov, Noup, the point is that we don't need to store zooming factor, cause it computed through `meta.spacing` and `params.spacing` [here](https://github.com/concept-to-clinic/concept-to-clinic/blob/666fb1bf410cbd80eb7928d0e3c5f2433ad668a5/prediction/src/preprocess/preprocess_ct.py#L141). Then `meta.spacing` updates [here](https://github.com/concept-to-clinic/concept-to-clinic/blob/6

[2018-01-04 20:06] Serhiy-Shekhovtsov commented on #268
In current implementation the preprocessing is overriding the `meta.spacing` making it's impossible to scale the coordinates. I am giving you the real example - when `params.spacing` is 1 and the `meta.spacing` is 2.5 we will zoom the image and then set `meta.spacing = 1`. The **2.5** value is lost after that and we cannot scale coordinates.
Also, I can't see any usage for `params.spacing` except

[2018-01-04 23:05] vessemer commented on #268
If you store coordinates in mm, then you don't need to keep old `meta.spacing` values. That is correct, that `params.spacing` usage is currently limited to the one case only, nonetheless, I do not see a point of the restriction you proposed for the `params.spacing` variable.

[2018-01-04 23:29] vessemer commented on #271
For the both identification and classification (false positive reduction) tasks was proposed a handy evaluation [framework](https://luna16.grand-challenge.org/evaluation/) by the LUNA16 authors.
They employed Free-Response Receiver Operating Characteristic ([FROC](https://doi.org/10.1093/jicru/ndx009)) and competition performance metric ([CPM](https://doi.org/10.1109/TMI.2010.2072789)). It compute

[2018-01-05 16:17] reubano commented on #271
@vessemer great observation! I see that they provide evaluation code as well. So yes, adjusting it to fit our use case will be extremely useful!

[2018-01-05 17:00] Serhiy-Shekhovtsov commented on #268
Coordinates stored in in nonscaled form. So we have to scale them. And for that we need to know the spacing. So the point of suggested change is - preserving properties of `meta` object.

[2018-01-05 20:07] isms opened #274 "Code quality: adding docstrings (for points!)"
Go through and add docstrings or improve existing docstrings where helpful.

<hr>

*Points will be awarded continuously through the end of the competition -- this issue will not close.*

[2018-01-05 20:11] isms opened #275 "Unit tests for Python backend code"
Go through and add [unit tests](https://en.wikipedia.org/wiki/Unit_testing) for Django/DRF or Python functions in the prediction service. (This is correctness testing separate from ML evaluation.)

Tests should not unduly slow down the build.

<hr>

*Points will be awarded continuously through the end of the competition -- this issue will not close.*

[2018-01-05 20:22] isms opened #276 "Report: implement ACR Lung-RAD™ findings based on Case"
Here are the assessment criteria: https://www.acr.org/-/media/ACR/Files/RADS/Lung-RADS/LungRADS_AssessmentCategories.pdf?la=en

## Expected Behavior
On the report, show what we can of where in the decision criteria the case characteristics put us.

## Possible enhancements
Ask for anything missing (e.g. patient age), allow interactive outcome calculator from input scenarios.

## Current Behavior
N

[2018-01-05 20:26] isms opened #277 "Report: per-nodule 3D shapefile export from 3D boolean mask"
Assume a boolean mask for each nodule that is a 3D numpy array of the same dimensions as the DICOM image (e.g. 512x512x24 layers) where some internal of the 3D space is a [polytope](https://en.wikipedia.org/wiki/Polytope).

## Expected Behavior
A user wants to download a [shapefile (.shp)](https://en.wikipedia.org/wiki/Shapefile#Shapefile_shape_format_(.shp)) for 3D printing or viewing in CAD. Sho

[2018-01-05 20:28] WGierke commented on #275
Would it be useful to add integrations such as [CodeCov](https://codecov.io/) to continuously monitor whether a test really adds more coverage / a feature reduces the coverage?

[2018-01-05 20:28] isms opened #278 "Report: RSNA standard template should pull from the actual Case"
## Expected Behavior
Fill in technical parameters, overall findings, and nodule data from the actual case (with thumbnails).

## Current Behavior
Mock data.

## Possible Solution
- [ ] Add serializers for data not already in Case so it is present in Vuex representation of current case
- [ ] Make sure this is all used on the frontend with no mock data left

[2018-01-05 20:36] isms opened #279 "UI feature: add overall progress indicator ("wizard" element)"
## Expected Behavior

We want the users to have a clear path in the workflow:
- Load a case
- Mark all nodules
- Mark any nodules not found if necessary
- Annotate and bound all nodules marked concerning
- Move to report

We should clearly show them at all times a progress indicator showing which phase (step 1/4) and what remains in that phase (2/3 nodules identified).

This should all be fairly e

[2018-01-05 20:37] WGierke commented on #274
Can we agree on a common [docstring format](https://stackoverflow.com/questions/3898572/what-is-the-standard-python-docstring-format)?

[2018-01-05 20:38] isms opened #280 "Annotation: per-nodule notes should actually be PATCHed and saved"
## Expected Behavior
Manipulating these should be `PATCH`ed to the backend and saved in the appropriate model instance:
![image](https://user-images.githubusercontent.com/1284973/34627406-6c2f62a2-f22e-11e7-8b47-52c6b6ec5a5a.png)

## Current Behavior
No-op

[2018-01-05 20:43] isms commented on #274
Google or Numpy are both fine as long as they conform to the respective specification.

[2018-01-06 21:37] isms commented on #275
Good thought, we have used and enjoyed codecov.io.

Maybe we can start with just a report in the test pipeline, and staff can look into setting up the integration of time permits.

[2018-01-07 09:09] WGierke commented on #275
Does something like #282 make sense? It generates a coverage report locally which could then also be persisted by Travis.

[2018-01-09 20:35] Serhiy-Shekhovtsov commented on #280
I'd like to take this one.

[2018-01-10 20:32] caseyfitz opened #283 "Continuous improvement of nodule segmentation and volume estimates"
After exploring the segmentation code under `prediction/src/algorithms/segment/` we have identified a few outstanding issues related to the segmentation functionality and volume calculations. These issues are all interrelated, but we've tried to divide them into two general catagories (whose code paths start in `segment/trained_model.py`):

1. Model architecture / complexity (`trained_model.predic

[2018-01-10 20:35] caseyfitz commented on #138
New issue #283 focused on nodule segmentation and volume estimation (as opposed to segmentation of the entire lung).

[2018-01-10 20:44] vessemer commented on #283
@caseyfitz did you carefully read the code of `trained_model.calculate_volume`? [This] code treat centroids as connected components and deals well with them.

[2018-01-10 21:42] caseyfitz commented on #283
Ah, thanks @vessemer! I thought the functionality was clear to me but I must have been confused due to the fact that `labels = [mask[centroid['x'], centroid['y'], centroid['z']] for centroid in centroids]` was returning `[1 1 1 1 1 1]` on the six `centroids` I was passing it (for LIDC-0003). Didn't realize that `scipy.ndimage.label` has a [default `structure` parameter](http://lagrange.univ-lyon1.

[2018-01-10 22:03] Serhiy-Shekhovtsov opened #285 "User should be able to run nodule candidates prediction"
Currently we can only create a new case based on local images. There should be a button to start the actual prediction. After clicking it should show that prediction is running. Once prediction is ready - it should show update the status on the page.

## Checklist before submitting
- [ ] I have confirmed this using the officially supported Docker Compose setup using the `local.yml` configuration a

[2018-01-10 22:16] vessemer commented on #283
Yes, sure. I'll add some comments in `trained_model.calculate_volume` with my next commit, since there is some obscurity :)

[2018-01-11 21:44] Serhiy-Shekhovtsov commented on #280
@isms, I can see that we are using `PATCH` for updating the candidate. Is there a reason for using `POST` here?

[2018-01-11 22:00] isms commented on #280
@Serhiy-Shekhovtsov no, not at all, PATCH is the right verb 👍

[2018-01-11 22:01] isms commented on #280
(issue updated to say PATCH - thanks Serhiy)

[2018-01-16 15:59] louisgv commented on #279
I can start working on this if nobody has started yet.

[2018-01-16 18:18] louisgv commented on #279
@Serhiy-Shekhovtsov are you actively working on this issue? (Since you upvoted it). Just wanted to make sure we're not colliding.

[2018-01-16 18:44] Serhiy-Shekhovtsov commented on #279
@louisgv I am not working on it, just like the feature :) Especially if the progress will be saved on loaded. This gives me pain every time I work on interface frontend. Have to go to first step and select the case each time the page is reloaded.

[2018-01-16 18:45] Serhiy-Shekhovtsov commented on #268
@reubano this issue is solved.

[2018-01-16 18:46] Serhiy-Shekhovtsov commented on #280
@isms the issue is solved in PR #286

[2018-01-16 18:48] Serhiy-Shekhovtsov commented on #150
@louisgv are you working on this?

[2018-01-16 18:53] louisgv commented on #150
No I am not

On Tue, Jan 16, 2018, 1:48 PM Serhiy-Shekhovtsov <notifications@github.com>
wrote:

[2018-01-16 18:54] Serhiy-Shekhovtsov commented on #150
Cool. I will take it and finish this page.

[2018-01-16 21:01] #280 closed

[2018-01-16 23:41] louisgv opened #287 "Cannot build from docker"
I pulled from latest and tried to clean and rebuild docker. However, it failed on my system.

## Expected Behavior

Running `docker-compose -f local.yml build` should build the application.

## Current Behavior

The following error was thrown:
[code]

## Steps to Reproduce

1. Pull from master
2. Run `docker-compose -f local.yml build`

## Context (Environment)

+ Linux Debian
+ Docker version 17.

[2018-01-17 03:40] nwaughachukwuma commented on #113
Hey guys (@reubano and all) am getting this error on my Heroku App after CI/CD from GitLab to Heroku. Following is the gitlab-ci.yml script:

[code]
Help will be greatly appreciated. Thanks

[2018-01-17 07:55] WGierke commented on #287
Unfortunately, I can't confirm that on
- Linux Ubuntu 16.04.3 LTS
- Docker version 17.09.0-ce, build afdb6d4
- docker-compose version 1.15.0, build e12f3b9

[2018-01-17 15:21] louisgv commented on #287
Hmm, this error was thrown only if I tried to run docker integrated with my external drive. If I disable the external drive and run docker, it seems to be running now...

[2018-01-17 15:30] louisgv commented on #279
I will start working on this. WIP PR coming soon!

[2018-01-17 15:34] reubano commented on #113
@nwaughachukwuma I stopped seeing the error after switching to an AWS server. Can you give that a try?

[2018-01-17 15:41] reubano commented on #287
Yes, I had issues before using an external drive as well. Also, see #165 for potential solutions to the space issue.

[2018-01-17 15:41] #287 closed

[2018-01-17 22:19] reubano commented on #268
@Serhiy-Shekhovtsov still failing for me on master

[code]

[2018-01-18 17:58] swarm-ai commented on #131
Hi @reubano I have been working on retraining the classifier and detector models for better performance. I am planning to document the process for both detector and classifier models and submit a pull request to the concept-to-clinic clone of the GRT code base here: https://github.com/concept-to-clinic/DSB2017

Will that work? I did not find any training code set up in the concept-to-clinic repo.

[2018-01-18 23:19] reubano commented on #131
@swarm-ai that repo is just for reference. Are you able to incorporate your performance enhancements to the code in this repo? The GRT model has already been included as per #4.

[2018-01-18 23:38] caseyfitz commented on #131
Hi @swarm-ai , improved models would be _very welcome_––good luck! There is currently no workflow for including training processes in the application codebase, but this is something we'd love to have.

The minimum we need to incorporate an improved model are currently

1. the weights, which live in the `assets/` subdir for each algorithm
2. the architecture, which live in the `src/` subdir for eac

[2018-01-19 18:33] Serhiy-Shekhovtsov commented on #268
@reubano I can't reproduce it on latest version. Can you check it again, please?

[2018-01-19 19:13] reubano commented on #268
@Serhiy-Shekhovtsov did you add the new `test_classify_dicom_nodule` test from the included patch file?

[2018-01-19 19:46] Serhiy-Shekhovtsov commented on #268
@reubano the patch is, actually, invalid:

So, I have fixed that test by creating two new tests in [this commit](https://github.com/concept-to-clinic/concept-to-clinic/pull/272/commits/df2738277856e0eb6e3c00d4c8e92011f9d2b446).

[2018-01-19 19:52] reubano commented on #268
@Serhiy-Shekhovtsov that's right! You did mention that before. I'll edit the original issue so others don't fall back into the same trap. Thanks!

[2018-01-19 19:52] #268 closed

[2018-01-22 09:56] wanghaisheng commented on #150
can i annotate some area with rectangle ?

[2018-01-22 11:31] Serhiy-Shekhovtsov commented on #150
@wanghaisheng sorry, didn't get your question. With this tool you can select an area of any shape.
Btw, this issue can be closed now. as it has been implemented in #291

[2018-01-23 01:44] vessemer commented on #230
- Based on the quote from the LUNA16 [evaluation page](https://luna16.grand-challenge.org/evaluation/), are there some changes in preference, i.e. which amount of false positives per scan (FPPS) should treat as appropriate? Also, I want point to the fact that sensitivities which correspond to lower FPPS are less stable. It can be observed by adding trivial test time augmentation (TTA), e.g. flip a

[2018-01-23 05:00] #150 closed

[2018-01-23 20:16] Serhiy-Shekhovtsov commented on #285
Guys, if anyone is interested, feel free to take it.

[2018-01-23 22:40] vessemer opened #294 "Nodules augmentation"
This issue dedicated to one possible improvement in the current pipeline of `grt123` algorithm:
As it was said, they used under and oversampling w.r.t. nodules' diameters combined with [hard negative mining](https://www.reddit.com/r/computervision/comments/2ggc5l/what_is_hard_negative_mining_and_how_is_it/ckiuu9i/) to train over imbalanced data. The data have been augmented on each iteration, to p

[2018-01-23 22:43] vessemer commented on #294
I'm going to work on this issue in a while,
but first, I'm looking for public opinion and cooperation :)

[2018-01-24 04:26] swarm-ai commented on #230
A couple of questions to inform the work to help radiologists  and patients with better software:

_for example high accuracy (AUCROC), speed, operational software cost, ease of use, description of classification rationale for each read, incorporation of additional clinical tasks beyond detection/diagnosis etc_

_Culture?, system cost? Accuracy? Quality scientific data or studies? Something else?_

[2018-01-24 09:52] vessemer opened #295 "First page issues"
1) It's not obvious at least for me :( how to proceed to the next pages:

![peek 2018-01-24 10-43](https://user-images.githubusercontent.com/9470024/35325358-ca7adf98-00f3-11e8-9644-3786d86d31d2.gif)

2) The slicing range button appears far beneath the view element:

![peek 2018-01-24 01-25](https://user-images.githubusercontent.com/9470024/35325357-ca54bcb4-00f3-11e8-8fe2-32499b3a480b.gif)

## Ch

[2018-01-24 17:37] WGierke commented on #283
@caseyfitz Are you planning to merge the changes you did to the code base in [your branch](https://github.com/concept-to-clinic/concept-to-clinic/compare/investigate-prediction) at some point to the master? And by the way: nice notebook! :)

[2018-01-24 19:48] lamby commented on #274
Merged! :)

[2018-01-24 19:48] #274 closed

[2018-01-25 02:04] eelvira commented on #230
1. Does it make sense to save false-positives as well to check their locations on the next timestamp of the patient's CT?
2. What is the first thing radiologists notice if the pathologies are barely noticeable, and the algorithm did not mark these areas as probably pathological?
3. Where is it planned to run the program: directly on the computers of doctors or remotely on the server? Whether it's

[2018-01-25 09:34] reubano commented on #294
I get the part about segmenting nodules based on type (1 of the 3 described). I don't get how that leads to better data augmentation though.

[2018-01-25 10:04] vessemer commented on #294
@reubano, suppose, we have two patches, with and without nodule:

![init](https://user-images.githubusercontent.com/9470024/35382373-5417324e-01bf-11e8-9ad5-b0b06db3a0d2.png)

If we can segment out the nodule carefully, then it can be cropped and inserted in a free spot, like that:

![transformed](https://user-images.githubusercontent.com/9470024/35382421-76d474e0-01bf-11e8-9123-eb1aff6696ca.png)

[2018-01-25 10:06] reubano commented on #294
I see. So you mean to say that knowing which of three types of nodules we are dealing with leads to better nodule cropping?

[2018-01-25 10:08] WGierke commented on #294
Are you sure this does not introduce too much bias? How do we know that nodules can also occur at the positions we're basically planting them?

[2018-01-25 10:11] vessemer commented on #294
@WGierke, that was my concern, though we may approach it by extracting probability maps of possible locations or just try as is.

[2018-01-25 10:25] vessemer commented on #294
@reubano, I've meant, that knowing which of three types of nodules we are dealing with leads to better nodule inserting :)

[2018-01-25 10:33] reubano commented on #294
ahhh ok, makes sense!

[2018-01-26 16:37] louisgv opened #302 "Refactor EventEmitter to using store observer"
## Expected Behavior

With the store implemented, we should be able to use the value from it throughout the application and thus we can eliminate most EventEmitter implementation, since if there are communication cross component, it's best to do it once and use it everywhere.

## Current Behavior

At the moment, the following can be refactored to consume store state:

+ ImageSeries - TreeView Even

[2018-01-26 16:38] louisgv commented on #302
After #288 I can start take a look at this. Those who have implemented EventEmitter please chime in.

[2018-01-26 16:47] louisgv commented on #295
Another issue with this page is that the "Start New Case" button is being placed in a bad position. E.g, right behind the image and is easily hidden by the imagery if the screen is small.

For #288 , I moved the button to the header as a temporary solution.

[2018-01-26 16:51] louisgv opened #303 "Make reusable/generic component into common"
## Expected Behavior

The following components should be delegated to common components as they are either generic, minimal or has high recycling potential:

* Nodule (`interface/frontend/src/components/annotate-and-segment/Nodule.vue`)
* OneLineParagraph (`interface/frontend/src/components/report-and-export/OneLineParagraph.vue`)
* RadioInput (`interface/frontend/src/components/annotate-and-segme

[2018-01-28 01:29] 00rebe commented on #200
Hey @lamby, I'm interested in taking a look at this if it's still open.

If we get rid of `null=True` on CasePleuralSpaces, the implications are:

  1. Tidier and cleaner
  2. Both left and right lung information must be given. It's not possible to have a case about a left_pleural_space or a right_pleural_space alone.
  	    + Suggestion: it should be possible to provide information for either lun

[2018-01-30 15:23] reubano commented on #302
Great idea!

[2018-01-30 17:32] louisgv commented on #302
Since #288 is closed, I will start working on this issue.

[2018-05-26 16:46] ryant26 opened #310 "Duplicate Status Checks After Enabling Github Apps"
## Expected Behavior

Pull requests should show a single "check" for TravisCI, "Travis CI - Pull Request"
## Current Behavior

I am getting 2 checks that reference the same build:

* Travis CI - Pull Request
* continuous-integration/travis-ci/pr

![duplicate checks](https://user-images.githubusercontent.com/3953165/40578428-051d39ec-60d1-11e8-8ef0-389479b43fee.PNG)

## Context (Environment)
This i

[2018-05-26 16:47] ryant26 commented on #310
Not sure how this issue got posted here I was trying to post it on travisci ... sorry

[2018-05-26 16:47] #310 closed

[2018-06-01 01:18] xuchao-25824839 opened #311 "Algorithms/Segment/Training not work"
## Expected Behavior

Traning done then output model
## Current Behavior

1. [\d+].xml is no valid DICOM
2. ValueError: could not broadcast input array from shape (332,360,360) into shape (512,512,512)
## Possible Solution

## Steps to Reproduce

1. export COMPOSE_FILE=local.yml && docker-compose up
2. docker exec -it concept-to-clinic_prediction_1 bash
3. python

`output`
ERROR:root:69.xml is no

[2018-06-02 01:24] Askleapeos opened #312 "Build fails on step 5/25 with error code 1"
## Expected Behavior
It should complete building.

## Current Behavior
After executing  `$ docker-compose -f local.yml build` per manual, it fails with **error code 1** on step 5/25.
This is the error:
[code]
## Solution
According to this source (https://bugs.launchpad.net/ubuntu/+source/python-pip/+bug/1773794); there is a bug, or should I say a new requirement, in Ubuntu 18.04. So, we just have

[2018-06-04 02:03] daikankan commented on #312
sudo apt-get install python3-distutils

from
https://github.com/pypa/pip/issues/5356
https://github.com/pypa/pip/issues/5367

[2018-06-18 12:47] guyucowboy opened #314 "How to add noise in generators?"
Hi
Thanks for sharing the codes.
How to add noise ( Gaussian,Poisson, Salt and Pepper (S&P) and Speckle Noise) in generators in file prediction\src\preprocess\generators.py ?
It does not provide the 3D data augmentation method with adding noise.
Any help is appreciated.
By the way, this is my first time opening an issue in this project. I do not know how to use the template.
Best regards

[2018-06-18 19:03] sunnnset commented on #312
I met exactly the same problem while running the bulid command on my macOS 10.13, what should I do to fix it? It seems that there's no python3-distutils on mac platform.

[2018-06-18 19:18] pjbull commented on #312
@sunnnset The only supported configuration is to build within Docker, which creates the image on top of Ubuntu. We just merged the above PR, so building on Docker will work now.

[2018-06-18 19:18] #312 closed

[2018-07-14 00:04] kyounis commented on #230
Hi,
How can I sign up for the competition?

[2018-07-14 12:20] isms commented on #230
@kyounis The competition is no longer running.

[2018-07-14 12:20] #230 closed

[2018-07-31 05:29] reiinakano opened #315 "What's the status of this project?"
Sorry for asking it here, but I couldn't find it addressed anywhere. Any news on what happened to this project after the contest ended? Has it been picked up by a company now working on it privately?

[2018-11-28 22:06] sinaghofrani opened #316 "DSB2017"
Hi
The dataset for DSB2017 competition has been removed from kagglr site
how can i download the DSB2017 dataset?

[2019-03-06 20:10] tayabsoomro commented on #315
Is this project still running?

[2019-03-28 21:32] monsterback23 commented on #200
Hey, do you mind if I give this a shot?

[2019-04-30 03:55] JuanGGO commented on #200
Hi! is this issue already solved?

[2019-10-05 22:51] Hiyorimi commented on #200
Is this still open?

[2019-12-02 17:08] yasiriqbal1 commented on #315
Dear All,
I need help to run this container. Can any one working on it.

[2019-12-05 17:13] WGierke opened #319 "Build is failing"
When forking the repository and adding it to Travis, building the master [does not succeed](https://travis-ci.com/WGierke/concept-to-clinic/builds/138996116). It fails with
[code]

[2019-12-12 05:52] yasiriqbal1 commented on #319
Dear All,
I have tried the fix build process (#320) on ubuntu 16.04 using ( Docker version 18.06.0-ce, build 0ffa825 and docker-compose version 1.23.1, build b02f1306) and on ubuntu 18.04 with latest docker and compose version but at the end same error

vue_unit_test_1_e19e091a3846 | npm ERR! code ELIFECYCLE
vue_unit_test_1_e19e091a3846 | npm ERR! errno 1
vue_unit_test_1_e19e091a3846 | npm ERR! c2

[2019-12-15 18:55] chaitanyarahalkar commented on #285
can anyone please explain to me how to use the prediction API? I am in a fix, trying to figure out how can I use it

[2019-12-16 16:27] Serhiy-Shekhovtsov commented on #285
You can find the prediction code here: https://github.com/drivendataorg/concept-to-clinic/tree/master/prediction/src/algorithms
And here you can find some usage examples: https://github.com/drivendataorg/concept-to-clinic/tree/master/prediction/src/tests

[2019-12-16 17:42] chaitanyarahalkar commented on #285
Hey, thanks for the help! I wanted to know whether it is possible to run the prediction code from the frontend on the sample LIDC images available in the Docker container by default.

[2020-01-29 02:49] chaitanyarahalkar commented on #285
Has anyone worked on adding that button as @Serhiy-Shekhovtsov mentioned?